Dear Mr/Ms. {{first_name}},

Woohoo! Your Donate-a-Book campaign is now Live.
Click on the link to see how your campaign page displays http://donateabook.org.in{{url_for('campaign', id=id) }}
If you are not able to go to the link please copy paste link on browser window.

Here are a few tips to make sure your Campaign hits the target:-

Share your campaign link on social media (Facebook,Twitter,Google+) with a brief description on what are you raising the funds for.
Do you have a blog? Write a post on your campaign and your fund raising efforts. Every appeal helps.
Similarly, if your donors have a blog, ask them to write about you.
Sometimes appeals slip by the first time. Do not hesitate to send at least one follow up email.

Here are a few pitfalls you should avoid:-
Do not spam emails or social networking sites. Sharing your project and talking about it is good but a limit needs to be set so that it does not become an annoyance for others.
Be cognizant of day to day internet manners.

 Still have a query? Drop in a mail at donateabook@prathambooks.org.
 We wish you all the best for your campaign.

Regards,
Donate-a-Book team
