Dear {{profile_name}},

Thank you for donating to the campaign {{title}} on Pratham Books' Donate-a-Book platform. You are helping India's children read.

Help us build a reading India. You can check out other wonderful campaigns here : https://donateabook.org.in/donate

Please note: We are currently looking to automate the Tax Exemption Receipt system on the website, post which you will get 
e-receipts of all your donations on Donate-a-Book. This automation will take a little while and we are looking at issuing receipts 
post November 2015. In case you require a receipt before that, please write to donateabook@prathambooks.org and we will ensure a 
physical receipt reaches you within 6-7 working days.

Regards,
Donate-a-Book Team
