Dear {{profile_name}},

Thank you for donating to the campaign {{title}} on Pratham Books' Donate-a-Book platform. You are helping India's children read.

Help us build a reading India. You can check out other wonderful campaigns here : https://donateabook.org.in/donate

Please note: If you have opted to receive an e-recipt for this donation, it will reach you within a month from when you made your 
donation. In case of a query, please write to donateabook@prathambooks.org.

Regards,
Donate-a-Book Team
