{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">
  <div  id="internalContent" class="row forms">
    <div id="internalCampaign" class="row startCampaign signup log">
      <div class=" col-md-12 well">
        <form role="form" action="" method="POST">
          <div style="display:none;">
            <input id="csrf_token" name="csrf_token" type="hidden" value="None">
            <input id="next" name="next" type="hidden" value="/">
            <input id="reg_next" name="reg_next" type="hidden" value="/">
          </div>
          <h3>Sign Up</h3>
          <div class=" col-md-12">
            <div class="form-group row">
              <label for="email" class="control-label">Email</label>
              <input class="form-control" id="email" name="email" tabindex="210" type="text" value="{{form.email.data|default('',True)}}" required />
              {% if form.email.errors %}
                <ul class="errors">
                  {% for e in form.email.errors %}
                    <li> <div class="alert alert-warning"> {{ e }} </div> </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label for="password" class="control-label">Password</label>
              <input class="form-control" id="password" name="password" tabindex="230" type="password" value="" />
              {% if form.password.errors %}
              <ul class="errors">
                {% for e in form.password.errors %}
                <li> <div class="alert alert-warning"> {{ e }} </div> </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label for="retype_password" class="control-label">Retype Password</label>
              <input class="form-control" id="retype_password" name="retype_password" tabindex="240" type="password" value="" />
              {% if form.retype_password.errors %}
              <ul class="errors">
                {% for e in form.retype_password.errors %}
                <li> <div class="alert alert-warning"> {{ e }} </div> </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
          <button type="submit"  class="btn" tabindex="280">Go</button>
          <div class="login-links">
            <a href="/user/sign-in" tabindex='290'> Already registered? Log in.</a>
          </div>
        </form>
      </div>
    </div>
    <!--InternalCampaign-->
  </div>
</div>
{% endblock %}

