{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">
  <div  id="internalContent" class="row forms">
    <div id="internalCampaign" class="row startCampaign signup log">
      <div class=" col-md-12 well">
        <form role="form" action="" method="POST">
          <div style="display:none;">
            <input id="csrf_token" name="csrf_token" type="hidden" value="None">
            <input id="next" name="next" type="hidden" value="">
          </div>
          <h3>Reset Password</h3>
          <div class=" col-md-12">
            <div class="form-group row">
              <label for="new_password" class="control-label">New Password</label>
              <input class="form-control" id="new_password" name="new_password" tabindex="10" type="password" value="" required />
            </div>
            {% if form.password.errors %}
              <ul class="errors"
                {% for e in form.password.errors %}
                  <li> <div class="alert alert-warning"> {{ e }} </div> </li>
                {% endfor %}
            {% endif %}
          </div>
          <div class=" col-md-12">
            <div class="form-group row">
              <label for="retype_password" class="control-label">Retype New Password</label>
              <input class="form-control" id="retype_password" name="retype_password" tabindex="20" type="password" value="" required />
            </div>
            {% if form.retype_password.errors %}
              <ul class="errors"
                {% for e in form.retype_password.errors %}
                  <li> <div class="alert alert-warning"> {{ e }} </div> </li>
                {% endfor %}
            {% endif %}
          </div>
          <button type="submit" class="btn" tabindex="90" >Change Password</button>
        </form>
      </div>
    </div>
    <!--InternalCampaign-->
  </div>
</div>
{% endblock %}

