{% macro render_heading_textarea(field) %}
<div class="well">
  <h3>{{field.label.text}}</h3>
  <div class="row form-group">
    <textarea class="form-control" rows="3" name="{{field.name}}">{{field.data|default("",True)}}</textarea>
    {% if field.help_text %}
    <p class="help-block">{{field.help_text}}</p>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro render_heading_textfield(field) %}
<div class="well">
  <h3>{{field.label.text}}</h3>
  <div class="row form-group">
    <input class="form-control" name="{{field.name}}" type="text" value="{{field.data|default('',True)}}"/>
    {% if field.help_text %}
    <p class="help-block">{{field.help_text}}</p>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro render_select(field) %}
{% set required = "" %}
{% if field.flags.required %}
  {% set required = "required" %}
{% endif %}
<div class="col-xs-4">
  <select class="form-control" name="{{field.name}}" {{required}} >
    {% for subfield in field %}
      {% if subfield.data == field.data %}
        <option selected="selected" value="{{subfield.data}}">{{subfield.label.text}}</option>
      {%else%}
        <option value="{{subfield.data}}">{{subfield.label.text}}</option>
      {%endif%}
    {% endfor %}
  </select>
</div>
{% endmacro %}

{% macro render_slider(field) %}
<input type="text" class="percentageSlider" name="{{field.name}}" value="{{field.data|default('',True)}}" style="width: 300px;" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{field.data|default(0,True)}}" data-slider-selection="none" data-slider-tooltip="show">
{% endmacro %}

{% macro render_narrow_field(field) %}
<div class="col-xs-9 row">
  <div class="col-xs-6">
    {{field.label}}
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" name="{{field.name}}" placeholder="{{field.label.text}}" value="{{field.data|default('',True)}}"/>
  </div>
</div>
{% endmacro %}


{% macro render_text_field(field, placeholder)  %}
<div class="form-group row">
  <div class="col-xs-4">
    {{field.label}} {% if field.flags.required %} <strong>*</strong> {% endif %}
  </div>
  <div class="col-xs-8">
    {% set required = "" %}
    {% if field.flags.required %}
      {% set required = "required" %}
    {% endif %}
    {% if not placeholder %}
      {% set placeholder = field.label.text %}
    {% endif %}
    <input type="text" class="form-control" name="{{field.name}}" placeholder="{{placeholder}}" value="{{field.data|default('',True)}}" {{ required }}/> 
    {% if field.errors %}
      <ul class="errors">
        {% for error in field.errors %}
          <li><div class="alert alert-warning">{{ error }}</div></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if field.help_text %}
      <p class="help-block">{{field.help_text}}</p>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro render_text_area(field, placeholder=0)  %}
<div class="form-group row">
  {{field.label}} {% if field.flags.required %} <strong>*</strong> {% endif %}
  {% if field.flags.required %}
    {% set required = "required" %}
  {% endif %}
  {% if not placeholder %}
    {% set placeholder = field.label.text %}
  {% endif %}
  <textarea class="form-control" rows="3" name="{{field.name}}" placeholder="{{placeholder}}" {{ required }}>{{field.data|default('',True)}}</textarea>
  {% if field.errors %}
    <ul class="errors">
      {% for error in field.errors %}
        <li><div class="alert alert-warning">{{ error }}</div></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if field.help_text %}
    <p class="help-block">{{field.help_text}}</p>
  {% endif %}
</div>
{% endmacro %}

{% macro render_field(field)%}
  <th>
    {{ field.label }}{% if field.flags.required %} <strong>*</strong> {% endif %}
  </th>
    <td>
    {{field(**kwargs)|safe}}
    {% if field.errors %}
    <ul class=errors>
      {% for error in field.errors %}
        <li><div class="alert alert-warning">{{ error }}</div></li>
      {% endfor %}
    </ul>
    {% endif %}
    </td>
{% endmacro%}

{% macro render_field_row(field)%}
<tr>
  <th>
    {{ field.label }}{% if field.flags.required %}<span class="required">*</span>{% endif %}
  </th>
  <td>
    {{field(**kwargs)|safe}}
    {% if field.errors %}
    <ul class=errors>
      {% for error in field.errors %}
        <li><div class="alert alert-warning">{{ error }}</div></li>
      {% endfor %}
    </ul>
    {% endif %}
  </td>
</tr>
{% endmacro %}

{%macro render_checkbox(field)%}
{% set required = "" %}
{% if field.flags.required %}
  <strong>*</strong>
  {% set required = "required" %}
{% endif %}
{% for subfield in field %}
  {% if subfield.data == field.data %}
  <div class="checkbox"><label><input type="checkbox" name="{{subfield.name}}" checked="checked" value="{{subfield.data}} {{required}} ">{{subfield.label.text}}</label></div>
  {% else %}
  <div class="checkbox"><label><input type="checkbox" name="{{subfield.name}}" value="{{subfield.data}}" {{required}} >{{subfield.label.text}}</label></div>
  {% endif %}
{% endfor %}
{% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <li> <div class="alert alert-warning"> {{ error }} </div> </li>
    {% endfor %}
  </ul>
{% endif %}
{%endmacro%}

{%macro render_bullets(field)%}
{% set required = "" %}
{% if field.flags.required %}
  {% set required = "required" %}
{% endif %}
{% for subfield in field %}
  {% if subfield.data == field.data %}
  <div class="radio"><label><input type="radio" name="{{subfield.name}}" checked="checked" value="{{subfield.data}}" {{required}} >{{subfield.label.text}}</label></div>
  {% else %}
  <div class="radio"><label><input type="radio" name="{{subfield.name}}" value="{{subfield.data}}" {{required}} >{{subfield.label.text}}</label></div>
  {% endif %}
{% endfor %}
{% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
      <li> <div class="alert alert-warning"> {{ error }} </div> </li>
    {% endfor %}
  </ul>
{% endif %}
{%endmacro%}
