{% extends "partials/base.html" %}
{% block content %}

<div class="container internal">
    <div class="row startCampaign capaignList" id="internalCampaign">

      <div class="row">
        <a href={{url_for('admin_add_user')}}> <button class="approve"> Add User </button> </a> 
        <a href={{url_for('download_donations')}}> <button class="approve"> Donations Sheet </button> </a> 
        <a href={{url_for('download_campaigns')}}> <button class="approve"> Campaigns Sheet </button> </a> 
        <a href={{url_for('admin_graphs')}}> <button class="approve"> Graphs </button> </a> 
      </div>
      <div class="col-md-12">
        <h2>Admin Panel
          <span>Graphs</span>
        </h2>
        <div id='user-graph'>
        </div>
        <div id='campaign-graph'>
        </div>
        <div id='donation-graph'>
        </div>
      </div>
    </div><!--InternalCampaign-->
</div>  
{% endblock %}

{% block jsblock %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['corechart']});
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
    var users_data = {{ users|tojson }};
    var donations_data = {{ donations|tojson }};
    var campaigns_data = {{ campaigns|tojson }};
    function drawChart() {
      var admin_graphs = new AdminGraphs(users_data, campaigns_data, donations_data);
      admin_graphs.start();
    }
  </script>
{% endblock %}


