{% extends "partials/base.html" %}
{% block content %}

<script type="text/javascript">
  var campaigns_data = {{ campaigns_data|tojson }};
</script>

<div class="container internal">
    <div class="row startCampaign capaignList" id="internalCampaign">

      <div class="row">
        <a href={{url_for('admin_add_user')}}> <button class="approve"> Add User </button> </a> 
        <a href={{url_for('download_donations')}}> <button class="approve"> Donations Sheet </button> </a> 
        <a href={{url_for('download_campaigns')}}> <button class="approve"> Campaigns Sheet </button> </a> 
      </div>
      <div class="col-md-12">
        <h2>Admin Panel
          <span>Campaign Details</span>
        </h2>
      </div>

      <div  class="col-md-12">

        <table id="campaigns" class="tablesorter,table table-striped" >
          <thead>
            <tr>
              <th>Campaign Title</th>
              <th>Organisation</th>
              <th>Location</th>
              <th>Fund Raising Amount</th>
              <th>Start Date </th>
              <th>End Date</th>
              <th>Current Status</th>
              <th>Featured</th>
              <th>Update Status / Comment</th>
              <th>Donors</th>
              <th>Comment</th>
              <th>% Funds Raised</th>
            </tr>
          </thead>
        </table>

        <div id="CommentsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 id="myLargeModalLabel" class="modal-title">Comments</h3>
              </div>

              <div class="form-group">
                <textarea id="comments" placeholder="Enter Comment here"  class="form-control"></textarea>
              </div>
              <div class="comments">
              </div>

              <button id="comment-submit-btn" class="btn btn-send pull-right" type="button"></button>
              <button id="comment-show-btn" class="btn btn-default btn-bottom" type="button">Default</button>
            </div>
          </div>
        </div>
      </div>
    </div><!--InternalCampaign-->
</div>  
{% endblock %}

{% block jsblock %}
<script>
  $(function() {
    var admin_dash = new AdminPage(campaigns_data);
    admin_dash.start();
    });
</script>
{% endblock %}


