{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">
  <div  id="internalContent" class="row">
    <div id="internalCampaign" class="row startCampaign campaignSuccess">
      <div class=" col-md-12 well">
        <h3>Thank you!</h3>
        <div class=" col-md-12">
          <h4>Thank you for registering on Pratham Books’ <strong> Donate-a-Book </strong> </h4>
          <p>
          A confirmation mail has been sent to your email account. Please check your email Inbox or Spam folders 
          for the confirmation email or <a href={{ url_for('user.resend_confirm_email') }}>Re-send confirmation email</a>.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

