<!DOCTYPE html>
<html lang="en" ng-app="frp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fund Raising Platform">
    <meta name="author" content="Vishal Parpia">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}">
    <title>{{config['SITE_NAME']}}</title>
    {% assets "css_site" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}"/>
    {% endassets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{'Pratham ' + 'Books'}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="/browse" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Choose how you'd like to browse for campaigns.</li>
                <li><a href="/browse/nearby">Near You</a></li>
                <li><a href="/browse/impact">Kids Impacted</a></li>
                <li><a href="/browse/language">Languages</a></li>
                <li><a href="/browse/donation">Donation Type</a></li>
                <li><a href="/browse/beneficiary">Beneficiary Type</a></li>
                <li><a href="/browse/tags">Tags</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/create" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Create a new campaign or learn about how to create them.</li>
                <li><a href="/create/about">About</a></li>
                <li><a href="/create/start">Get Started</a></li>
                <li><a href="/create/faqs">Beneficiary FAQs</a></li>
                <li><a href="/create/guidelines">Campaign Guidelines</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/learn" class="dropdown-toggle" data-toggle="dropdown">Learn <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Learn everything you want to know about Pratham Books.</li>
                <li><a href="/learn/giving">PBGiving</a></li>
                <li><a href="/learn/faqs">FAQs</a></li>
                <li><a href="/learn/guidelines">Campaign Guidelines</a></li>
                <li><a href="/learn/press">Press</a></li>
                <li><a href="/learn/stats">Stats</a></li>
                <li><a href="/learn/write">Write to Us</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if g.user %}
            <li><a href="/profile">Welcome {{g.user.username}} <img src="{{ g.user.gravatar(size='20') }}"/></a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- <div id="header"> -->
    <!--   <a href="{{url_for('campaign_add')}}">Add Campaign</a>| -->
    <!--   <a href="{{url_for('category_add')}}">Add Category</a>| -->
    <!--   <a href="{{url_for('login')}}">Login</a>| -->
    <!--   <a href="{{url_for('logout')}}">Logout</a>  -->
    <!--   {% if g.user %} -->
    <!--   (logged in as {{g.user.username}} <img src="{{ g.user.gravatar(size='20') }}"/>) -->
    <!--   {% else %} -->
    <!--   (not logged in) -->
    <!--   {% endif %} -->
    <!-- </div> -->
    {% with flashes = get_flashed_messages() %}
      {% if flashes %}
	<ul class="flashes">
	  {% for message in flashes %}
            <li>{{ message }}</li>
	  {% endfor %}
	</ul>
      {% endif %}
    {% endwith %}

    {% if 'user_id' in session %}
      <blockquote>
	You're logged in.
      </blockquote>
    {% endif %}

    <h1>{{config['SITE_NAME']}}</h1>
    <div class="container" ng-view>
    {% block body %}
    {% endblock %}
    </div>
    <hr>
      <footer>
	<p>&copy; Pratham Books 2013. All rights reserved.</p>
	<p>Software version <span class="version">{{version}}<span></p>
	{% if testing %}
	<p class="warn">Faking authentication since <code>LASTUSER_TEST</code> is set. This shouldn't happen on a production server.</p>
	{% endif%}
      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% assets "jquery" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"/></script>
    {% endassets %}

    {% assets "bootstrap" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"/></script>
    {% endassets %}

    {% assets "angular" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"/></script>
    {% endassets %}

    {% assets "app_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"/></script>
    {% endassets %}

  </body>
</html>
