<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratham Books">
    <meta name="author" content="">

    <title>Pratham Books</title>

    <link rel="shortcut icon" href="ico/favicon.ico">
    <link href="/static/css/bootstrap.css" rel="stylesheet" />

    <link href="/static/css/slider.css" rel="stylesheet">
    <link href="/static/css/bForm.css" rel="stylesheet" />
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <!--<script type="text/javascript" src="//use.typekit.net/lfw6jmj.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->

    <script type="text/javascript" src="//use.typekit.net/lfw6jmj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/static/js/bootstrap-slider.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/form.js"></script>
  </head>

  <body>
    <div id="wrapperOut">

      <header class="affix">
    	<div class="headerIn">
          <h1 class="logo">
            <a href="index.html">
              <!--<span>Give Books to India's Children</span>-->
            </a>
          </h1>

          <nav class="nav">
            <ul>
              <li  class="darkOrange">
                <a href="about.html">about
                  <span class="caret"></span>
                </a>
              </li>

              <li class="orange">
                <a href="start.html">start
                  <span class="caret"></span>
                </a>
              </li>

              <li class="lightOrange">
                <a href="discover.html" >discover
                  <span class="caret"></span>
                </a>
              </li>

              <li  class="darkYellow">
                <a href="index.html">home
                  <span class="caret"></span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- <div id="login">
	       <a href="login.html" class="btn btn-default">log in</a>
	       <a href="signup.html" class="btn btn-warning">sign up</a>
          </div>-->

        </div>

      </header>

      <div id="wrapper">

        <div class="container internal">
          {% block content %}
          {% endblock %}
        </div><!--container internal -->
      </div><!--Wrapper-->
      <footer>

        <div class="row" id="infoBlock">
          <div class="col-md-12">
            <h5>Site Map</h5>

            <div class="siteBlock">
              <h6><a href="index.html">Home</a></h6>
            </div>

            <div class="siteBlock">
              <h6><a href="discover.html">Discover</a></h6>
              <ul>
                <li><a href="discover.html">Search/Browse Listing</a></li>
                <li><a href="campaignPage.html">Campaign Page</a>
                  <ul>
                    <li><a href="blank.html">Contribute/Give</a></li>
                  </ul>
                </li>
              </ul>
            </div>


            <div class="siteBlock">
              <h6><a href="start.html">Start</a></h6>
              <ul>
                <li><a href="start.html">Donate a Book</a></li>
                <li><a href="start.html">Tips to Create Campaign</a></li>
                <li><a href="start.html">Get Started</a></li>
                <li><a href="start.html">FAQ</a></li>
                <li><a href="start.html">Guidelines</a></li>
              </ul>
            </div>

            <div class="siteBlock">
              <h6><a href="about.html">About</a></h6>
              <ul>
                <li><a href="about.html">Donate a Book</a></li>
                <li><a href="about.html">Pratham Books</a></li>
                <li><a href="about.html">Impact Stories</a></li>
                <li><a href="about.html">FAQ</a></li>
                <li><a href="about.html">Stats</a></li>
              </ul>
            </div>

            <div class="siteBlock">
              <h6><a href="signup.html">Sign Up</a></h6>
              <ul>
                <li><a href="donorForm.html">Donor</a></li>
                <li><a href="beneficiaryForm.html">Beneficiary</a></li>
              </ul>
            </div>

          </div>

          <div class="col-md-12 bottom">

            <div class="siteBlock">
              <h6><a href="privacy.html">Privacy Policy</a></h6>
            </div>

            <div class="siteBlock">
              <h6><a href="login.html">Login</a></h6>
            </div>

            <h1>Pratham Books &copy; 2013. All rights reserved.</h1>
            <div id="socialIcons">
              <h6>Connect</h6>
              <a class="fb" target="_blank" href="https://www.facebook.com/prathambooks"></a>
              <a class="gPlus" target="_blank" href="https://plus.google.com/+prathambooks"></a>
              <a class="blog" target="_blank" href="http://blog.prathambooks.org/"></a>
              <a class="tw" target="_blank" href="https://twitter.com/prathambooks"></a>
            </div>
          </div>


        </div>
      </footer>

    </div>
  </body>
</html>
