{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">

  <div class="row discover dashboard campaign" id="internalCampaign">
    <div class="col-md-12">
      <h2>Beneficiary Dashboard
        <span>My donate-a-book progress</span>
      </h2>
    </div>           

    <div class="col-md-12 donorDash">
      <div class="col-md-9">
        <table class="table table-striped">
          <tr>
            <th class="darkOrange">My Funds</th>
            <th class="orange">Total</th>
            <th class="lightOrange">Active</th>
            <th class="darkYellow">Closed</th>
          </tr>
          <tr>
            <td>Total Number Of Campaigns</td>
            <td>{{ active_campaigns + closed_campaigns }}</td>
            <td>{{ active_campaigns }}</td>
            <td>{{ closed_campaigns }}</td>
          </tr>
          <tr>
            <td>Total number of books recived</td>
            <td>{{ num_books_recvd_active + num_books_recvd_closed }}</td>
            <td>{{ num_books_recvd_active }}</td>
            <td>{{ num_books_recvd_closed }}</td>
          </tr>
          <tr>
            <td>Total Number Of Donors</td>
            <td>{{ n_active_donors + n_closed_donors }}</td>
            <td>{{ n_active_donors }}</td>
            <td>{{ n_closed_donors }}</td>
          </tr>
          <tr>
            <td>Total number of fund recived</td>
            <td>{{ total_active_amt + total_closed_amt }}</td>
            <td>{{ total_active_amt }}</td>
            <td>{{ total_closed_amt }}</td>
          </tr>
        </table>

      </div>

      <div class="col-md-3 pieBlock">
        <ul id="socialThumbs">
          <li><a href="#" class="fb">Share On Facebook</a></li>
          <li><a href="#" class="tw">Share On Twitter</a></li>
        </ul>
      </ul>
    </div><!--col-md-3-->


  <div class="col-md-12">  
    {% for campaign in campaigns %}
    <div class="col-md-3">
      <h1> <a href={{ url_for('campaign',id=campaign.id) }}>{{  campaign.title }}</a></h1>
      <div class="campaignInfo">
        <time><span>{{ campaign.days_remaining() }}</span> Days Left</time>
        <h4>{{ campaign.target() }} <span class="percentFunded"> {{ campaign.percent_funded() }} </span></h4>
              <div class="progress progress-warning" style="width: {{ (campaign.percent_funded()) }}%">
                <span class="sr-only"> {{ campaign.percent_funded() }} % Complete </span>
              </div>
              <h5><span class="days">{{ "Active" if campaign.days_remaining() > 0 else "Inactive" }} </span> </h5>
              <div class="socialIcons">
                <span class="tw"></span>
                <span class="fb"></span>
              </div>
        <h5 class="amt"> <a href={{ url_for('donate', campaign_id=campaign.id ) }}> Donate </a> </h5>
      </div>
    </div>
    {% endfor %}

  </div><!-- col-md-12-->
</div>
{% endblock %}

