{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">

  <div class="row discover dashboard campaign" id="internalCampaign">
    <div class="col-md-12">
      <h2>Beneficiary Dashboard
        <span>My donate-a-book progress</span>
      </h2>
    </div>           

    <div class="col-md-12 donorDash">
      <div class="col-md-9">
        <table class="table table-striped">
          <tr>
            <th class="darkOrange">My Funds</th>
            <th class="orange">Total</th>
            <th class="lightOrange">Active</th>
            <th class="darkYellow">Closed</th>
          </tr>
          <tr>
            <td>Total Number Of Campaigns</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>
          <tr>
            <td>Total number of books recived</td>
            <td>6</td>
            <td>9</td>
            <td>12</td>
          </tr>
          <tr>
            <td>Total Number Of Donors</td>
            <td>8</td>
            <td>12</td>
            <td>16</td>
          </tr>
          <tr>
            <td>Total number of books recived</td>
            <td>10</td>
            <td>15</td>
            <td>20</td>
          </tr>
        </table>

      </div>

      <div class="col-md-3 pieBlock">
        <ul id="socialThumbs">
          <li><a href="#" class="fb">Share On Facebook</a></li>
          <li><a href="#" class="tw">Share On Twitter</a></li>
        </ul>
      </ul>
    </div><!--col-md-3-->


    <div class="col-md-12">  
      <div class="col-md-3">
        <h1>Name of the Campaign </h1>


        <div class="campaignInfo">
          <time><span>4</span> Days Left</time>
          <h4>500<span class="percentFunded">110</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5> <span>Active</span></h5>
          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>
          <h5 class="amt">Donate</h5>

        </div>
      </div>



      <div class="col-md-3">
        <h1>Payoshni's class of 21</h1>


        <div class="campaignInfo">
          <time><span>24</span> Days Left</time>
          <h4>500<span class="percentFunded">25</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5> <span>Active</span></h5>
          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>
          <h5 class="amt">Donate</h5>
        </div>
      </div>



      <div class="col-md-3 closed">
        <h1>Karthik's reader club</h1>


        <div class="campaignInfo">
          <time><span>0</span> Days Left</time>
          <h4>500<span class="percentFunded">95</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5> <span>Closed</span></h5>
          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>

          <h5 class="amt">Closed</h5>
        </div>
      </div>



      <div class="col-md-3">
        <h1>Name of the Campaign </h1>


        <div class="campaignInfo">
          <time><span>4</span> Days Left</time>
          <h4>500<span class="percentFunded">110</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5> <span>Active</span></h5>
          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>

          <h5 class="amt">Donate</h5>
        </div>
      </div>


      <div class="col-md-3 closed">
        <h1>Karthik's reader club</h1>


        <div class="campaignInfo">
          <time><span>0</span> Days Left</time>
          <h4>500<span class="percentFunded">95</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5> <span>Closed</span></h5>

          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>
          <h5 class="amt">Closed</h5>
        </div>
      </div>


      <div class="col-md-3">
        <h1>Payoshni's class of 21</h1>


        <div class="campaignInfo">
          <time><span>24</span> Days Left</time>
          <h4>500<span class="percentFunded">25</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5> <span>Active</span></h5>

          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>

          <h5 class="amt">Donate</h5>
        </div>
      </div>
    </div>
  </div><!-- col-md-12-->
</div>
{% endblock %}

