{% extends "partials/base.html" %}
{% from "_formhelpers.html" import render_field, render_bullets, render_field_row, render_text_field, render_text_area, render_narrow_field, render_select, render_slider, render_heading_textfield, render_heading_textarea%}
{% block content %}
<div id="pratham-form" class="container internal">
  <form role="form" method="post" action="/donate/pay">
    <div  id="internalContent" class="row">
      <div id="internalCampaign" class="row startCampaign signup log">

        <div class="well">
          <h3>Billing Information</h3>
          {{ form.donation_id }}
          {{ render_text_field(form.first_name) }}
          {{ render_text_field(form.last_name) }}
          {{ render_text_field(form.phone_number) }}
          {{ render_text_field(form.email) }}
          {{ render_text_field(form.address) }}
          {{ render_text_field(form.city) }}
          <div class="form-group row">
            <div class="col-xs-4">
              {{ form.state.label }} <strong> * </strong>
            </div>
            {{ render_select(form.state) }}
          </div>
          {{ render_text_field(form.pin) }}

          <div class="form-group row">
            <div class="col-md-12">

              <button type="submit" class="btn">Pay</button>

            </div>
          </div>
        </div><!--well-->

      </div>
      <!--InternalCampaign-->
    </div>
  </form>
</div>
{% endblock content %}

