{% extends "partials/base.html" %}
{% block content %}
<div id="wrapper">
  <div class="container internal">
    <form role="form">

      <!--InternalContent-->

      <div class="row discover campaign singleCamp" id="internalCampaign">
        <div class="col-md-12">
          <h2>Campaign Page</h2>
        </div>

        <div class="col-md-9">
          <div class="col-md-6">
            <div class="col-md-12">
              <h1>Payoshni's class of 21</h1>

              <div class="campaignInfo">
                <h2>Payoshni's class of 21</h2>
                <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <h5>Short Descripton:</h5>-->
                <p>I am a TFI fellow raising funds to run a library program in my classroom for class 8th students from an underpriviledge school in Pune.</p>
                <ul>
                  <li><span>Impact:</span> 152 children</li>
                  <li><span>Languages:</span> English, Hindi</li>
                  <li><span>Beneficiary Type:</span> School</li>
                  <li><span>Location:</span> Pune, Maharashtra</li>
                </ul>
              </div>
            </div>

            <!--     <video>
            <img src="images/video.png" alt="video" />
            </video>

            <img src="images/video.png" alt="video" />-->

          </div><!--col-md-6-->

          <div class="col-md-3">
            <h1>Funding Goals</h1>
            <div class="campaignInfo">
              <time><span>24</span> Days Left</time>
              <h4>500<span class="percentFunded">110</span></h4>
              <div class="progress progress-warning">
                <div class="bar" style="width: 20%;"></div>
              </div>
              <h5><span class="days">Active</span> <!--<span class="funders">25</span>--></h5>
              <div class="socialIcons">
                <span class="tw"></span>
                <span class="fb"></span>
              </div>
              <div class="tag">
                <a href="#">Tagged</a>
              </div>

              <div class="tag">
                <a href="#">Tagged</a>
              </div>
              <h5 class="amt">Donate This Campaign</h5>
            </div>

          </div>

          <div class="col-md-12">

            <h3>Who we are</h3>
            <p>
            Who we are,information about organisation will come here.
            </p>

            <h3>Our Story</h3>
            <p>
            PK Foundation was established in 2000 to help bridge the gap in learning in schools through books and reading.
            PK Foundation is based out of Pune and has 1 more office in rural Maharashtra. With a staff of 12 members and 20 volunteers, 
            PK foundations aims to establish libraries in Govt schools in rural Maharahstra.
            </p>

            <h3>Our work and it's impact</h3>
            <p>
            PK Foundation’s mission is to inculcate reading habit among students at a young age and to expose them to a large variety of books thus pushing their 
            reading abilities and exposure to the works. Children, specially in rural Maharashtra don’t have access to any other books than curriculum and hence 
            learning a language becomes a curriculum material again. We at PK Foundation, aim to introduce the joy of languages through story books to children and hence 
            develop an interest in academics. Till date PK Foundation has established over 120 libraries in Govt schools in the districts of Akola and Paratwada. 
            These libraries serve over 4800 childre from the age group of 7 to 14. Most children are first generation learners and their education is their family’s 
            chance out of poverty

            </p>

            <h3> How will we utilize these funds.</h3>
            <p>
            PK Foundation aims to set up 400 new libraries by the end of year 2015.The collected funds will be utilized for buying books for children of all ages in 
            2 languages and buying cupboards for setting them up. <br/>
            We aim to also start a book-lending program with a membership fee of Rs.1/- to remote areas. These funds would help the logistics for this program.
            </p>

          </div>

        </div><!--col-md-9-->

        <div id="tagBlock" class="col-md-3">
          <ul class="featured">
            <li>Featured</li>
            <li><a href="#popular">Popular</a> </li>
            <li><a href="#Launched">Recently Launched</a></li>
            <li><a href="#">Ending Soon</a></li>
            <li><a href="#"  class="active">Most Funded</a></li>
            <li><a href="#">Curated Pages</a></li>
          </ul>
          <hr />
          <ul class="category">
            <li>Categories</li>
            <li><a href="#">Registered Non-Profit (Trust / Society) </a></li>
            <li><a href="#">Section 25 Company</a></li>
            <li><a href="#">Private School</a></li>
            <li><a href="#">Government School</a></li>
            <li><a href="#">Reading Centre/Library</a></li>
            <li><a href="#">Reading Champion / Storyteller / Volunteer</a></li>
            <li><a href="#">Rural Areas</a></li>
            <li><a href="#">Low Income Urban Area</a></li>
            <li><a href="#">Tribal Areas</a></li>
            <li><a href="#">Special Needs / Differently Abled Children</a></li>
          </ul>
          <hr />

          <ul class="citi">
            <li>Cities</li>
            <li> 
            <div class="input-group">
              <input type="text" class="form-control" placeholder="search cities">
              <span class="input-group-addon"><a href="#"><i class="icon-search"></i></a></span>
            </div>
            </li>
          </ul>

        </div>

      </div>

    </form>
  </div>
</div>    

{% endblock %}
