{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">
  <div class="row discover campaign singleCamp" id="internalCampaign">
    <div class="col-md-12">
      <h2>Campaign Page</h2>
    </div>

    <div class="col-md-9">
      <div class="col-md-6">
        <div class="col-md-12">
          <h1 style="background-image:url('/static/uploads/uploads/{{campaign.image}}'); background-size:cover"> {{ campaign.title }} </h1>

          <div class="campaignInfo">
            <h2> {{ campaign.title }} </h2>
            <p> {{ campaign.who }} </p>
            <ul>
              <li><span>Impact:</span> {{ campaign.org.info.total_impact_on_children }} children</li>
              <li><span>Languages:</span> {{ campaign.languages }} </li>
              <li><span>Beneficiary Type:</span> {{ statusString(campaign.org.info.status)[1] }} </li>
              <li><span>Location:</span> {{ campaign.city }}, {{ campaign.state }} </li>
            </ul>
          </div>
        </div>

      </div><!--col-md-6-->

      <div class="col-md-3">
        <h1>Funding Goals</h1>
        <div class="campaignInfo">
          <time><span>{{ campaign.days_remaining() }} </span> Days Left</time>
          <h4>{{ campaign.target() }} <span class="percentFunded"> {{ campaign.percent_funded() }}  </span></h4>
          <div class="progress progress-warning" style="min-width:0.2em; width: {{ (campaign.percent_funded()) }}%">
            <span class="sr-only"> {{ campaign.percent_funded() }} % Complete </span>
          </div>
          <h5><span class="days">{{ "Active" if campaign.days_remaining() > 0 else "Inactive" }} </span> </h5>
          <div class="socialIcons">
            <span class="tw"></span>
            <span class="fb"></span>
          </div>

          <h5 class="amt"> <a href={{ url_for('donate', campaign_id=campaign.id ) }}> Donate To This Campaign </a> </h5>
        </div>

      </div>

      <div class="col-md-12">

        <h3>Who we are</h3>
        <p>
        {{ campaign.who }}
        </p>

        <h3>Our Story</h3>
        <p>
        {{ campaign.description }}
        </p>

        <h3>Our work and it's impact</h3>
        <p>
        {{ campaign.impact }}
        </p>

        <h3> How will we utilize these funds.</h3>
        <p>
        {{ campaign.fund_utilization }}
        </p>

      </div>

    </div><!--col-md-9-->

    <div id="tagBlock" class="col-md-3">
      <ul class="featured">
        <li>Featured</li>
        <li><a href="{{ url_for('discover', category='popular') }}">Popular</a> </li>
        <li><a href="{{ url_for('discover', category='recently-launched') }}">Recently Launched</a></li>
        <li><a href="{{ url_for('discover', category='ending-soon') }}">Ending Soon</a></li>
        <li><a href="{{ url_for('discover', category='most-funded') }}" class="active">Most Funded</a></li>
      </ul>
      <hr />
      <ul class="category">
        <li>Categories</li>
        <li><a href="{{ url_for('discover', category='registered-non-profit') }}">Registered Non-Profit (Trust / Society) </a></li>
        <li><a href="{{ url_for('discover', category='section-25-company') }}">Section 25 Company</a></li>
        <li><a href="{{ url_for('discover', category='private-school') }}">Private School</a></li>
        <li><a href="{{ url_for('discover', category='government-school') }}">Government School</a></li>
        <li><a href="{{ url_for('discover', category='reading-center-library') }}">Reading Centre/Library</a></li>
        <li><a href="{{ url_for('discover', category='reading-champion') }}">Reading Champion / Storyteller / Volunteer</a></li>
        <li><a href="{{ url_for('discover', category='rural-areas') }}">Rural Areas</a></li>
        <li><a href="{{ url_for('discover', category='low-income-urban-areas') }}">Low Income Urban Area</a></li>
        <li><a href="{{ url_for('discover', category='tribal-areas') }}">Tribal Areas</a></li>
        <li><a href="{{ url_for('discover', category='special-needs') }}">Special Needs / Differently Abled Children</a></li>
      </ul>
      <hr />

      <ul class="citi">
        <li>Cities</li>
        <li> 
        <div class="input-group">
          <input type="text" class="form-control" placeholder="search cities">
          <span class="input-group-addon"><a href="#"><i class="icon-search"></i></a></span>
        </div>
        </li>
      </ul>

    </div>

  </div>
</div>
{% endblock %}

