{% extends "partials/base.html" %}
{% block meta_tags %}
<meta property="og:url" content="http://donateabook.org.in/campaigns/{{campaign.id}}"/>
<meta property="og:title" content="{{campaign.title}} on donate-a-book"/>
<meta property="og:image" content="http://donateabook.org.in/static/uploads/uploads/{{campaign.image}}"/>
<meta property="og:description" content="Help India's children read. Donate books to a needy library."/>
<meta property="fb:app_id" content="{{config['FACEBOOK_APP_ID']}}" />
{% endblock %}
{% block content %}
<div class="container internal">
    <form action={{url_for("search")}} method="GET">
      <div id="search" class="input-group">
        <input type="text" class="form-control" name="search-string" placeholder="Search">
        <input type="submit" value="" class="icon-search">
      </div>
    </form>
  <div class="row discover campaign singleCamp" id="internalCampaign">
    <div class="col-md-12">
      <h2>Campaign Page</h2>
    </div>

    <div class="col-md-9">
      <div class="col-md-6">
        <div class="col-md-12">
          <h1>
            <img src='/static/uploads/uploads/{{campaign.image}}' alt="campaign images"> 
          </h1>

          <div class="campaignInfo">
            <h2> {{ campaign.title }} </h2>
            <p> {{ campaign.who }} </p>
            <ul>
              <li><span>Impact:</span> {{ campaign.org.info.total_impact_on_children }} children</li>
              <li><span>Languages:</span> {{ campaign.languages }} </li>
              <li><span>Beneficiary Type:</span> {{ statusString(campaign.org.info.status)[1] }} </li>
              <li><span>Location:</span> {{ campaign.city }}, {{ campaign.state }} </li>
            </ul>
          </div>
        </div>

      </div><!--col-md-6-->

      <div class="col-md-3">
        <h1>Funding Goals</h1>
        <div class="campaignInfo">
          <time><span>{{ campaign.days_remaining() }} </span> Days Left</time>
          <h4>{{ campaign.target() }} <span class="percentFunded"> {{ campaign.percent_funded() }}  </span></h4>
          <div class="progress progress-warning" style="min-width:0.2em; width: {{ (campaign.percent_funded()) }}%">
            <span class="sr-only"> {{ campaign.percent_funded() }} % Complete </span>
          </div>
          <h5><span class="days">{{ "Active" if campaign.days_remaining() > 0 else "Inactive" }} </span> </h5>
          <div class="socialIcons">
            <span class="tw"></span>
            <span class="fb" onclick="utils.fb_share('http://donateabook.org.in/campaign/{{campaign.id}}')"></span>
          </div>

          <a href={{ url_for('donate', campaign_id=campaign.id ) }}> <h5 class="amt"> Donate To This Campaign </h5> </a>
        </div>

      </div>

      <div class="col-md-12">

        <h3>Who we are</h3>
        <p>
        {{ campaign.who }}
        </p>

        <h3>Our Story</h3>
        <p>
        {{ campaign.description }}
        </p>

        <h3>Our work and it's impact</h3>
        <p>
        {{ campaign.impact }}
        </p>

        <h3> How will we utilize these funds.</h3>
        <p>
        {{ campaign.fund_utilization }}
        </p>

      </div>

    </div><!--col-md-9-->

    <div id="tagBlock" class="col-md-3">
      <ul class="featured">
        <li>Featured</li>
        <li><a href="{{ url_for('discover', category='popular') }}">Popular</a> </li>
        <li><a href="{{ url_for('discover', category='recently-launched') }}">Recently Launched</a></li>
        <li><a href="{{ url_for('discover', category='ending-soon') }}">Ending Soon</a></li>
        <li><a href="{{ url_for('discover', category='most-funded') }}" class="active">Most Funded</a></li>
      </ul>


    </div>

  </div>
</div>
<div id="disqus_thread"></div>
  <script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = 'donateabook';
  var disqus_identifier = 'campaign/{{campaign.id}}';
  var disqus_title = '{{campaign.title + " on Donate-A-Book" }}';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
   })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

{% endblock %}

