{% extends "partials/base.html" %}
{% block meta_tags %}
<meta property="og:url" content="http://donateabook.org.in/campaign/{{campaign.id}}"/>
<meta property="og:title" content="{{campaign.title}} on Pratham's Donate-a-Book"/>
<meta property="og:image" content="http://donateabook.org.in/static/uploads/uploads/{{campaign.image}}"/>
<meta property="og:description" content="Help India's children read. Donate books to a needy library."/>
<meta property="fb:app_id" content="{{config['FACEBOOK_APP_ID']}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{campaign.title}} on Pratham's Books Donate-a-Book"/>
<meta name="twitter:description" content="Help India's children read. Donate books to a needy library."/>
<meta name="twitter:image" content="http://donateabook.org.in/static/uploads/uploads/{{campaign.image}}"/>
<meta name="twitter:url" content="http://donateabook.org.in/campaign/{{campaign.id}}"/>
{% endblock %}
{% block content %}
<div class="container internal">
    <form action={{url_for("search")}} method="GET">
      <div id="search" class="input-group">
        <input type="text" class="form-control" name="search-string" placeholder="Search">
        <input type="submit" value="" class="icon-search">
      </div>
    </form>
  <div class="row discover campaign singleCamp" id="internalCampaign">
    <div class="col-md-12">
      <h2 class="title"> {{ campaign.title }} </h2>
      <h3 class="sub-title">by  {{campaign.org.title}}</h3>
    </div>
    <div class="col-md-12 campaignTop">
      <div class="col-md-8">
        <div class="col-md-12">
          <img src='/static/uploads/uploads/{{campaign.image}}' alt="campaign images" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4">
        <div class="campaignInfo">
          <h1>&#8377; {{campaign.target()}}</h1>
          <div class="funds-rised">
            <h3>{{campaign.percent_funded()}}</h3>
            funds raised
          </div>
          <div class="donated">
            <h3>{{campaign.books_donated()}}</h3>
            books donated
          </div>
          <div class="donors">
            <h3>{{campaign.num_donors()}}</h3>
            donors
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{campaign.percent_funded()}}%;">
              <span class="sr-only">{{campaign.percent_funded()}}% Complete</span>
            </div>
          </div>
          <h5><span class="days">Active </span>
            <time><span>{{campaign.days_remaining()}}</span> Days Left</time>
          </h5>
          <div class="socialIcons">
            <span class="tw" onclick="utils.twitter_share('http://donateabook.org.in/campaign/{{campaign.id}}', 'Help India\'s children read. Donate to a library on Pratham Donate-a-Book.')"></span>
            <span class="fb" onclick="utils.fb_share('http://donateabook.org.in/campaign/{{campaign.id}}')"></span>
          </div>
          {% if campaign.percent_funded() >= 100 %}
            <h5 class="amt" data-toggle="modal" data-target="#no-donation-modal"> Donate To This Campaign </h5> </a>
          {% else %}
          <a href="http://donateabook.org.in/donate/1">
            <h5 class="amt"> Donate To This Campaign </h5>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="campaignInfo">
        <ul>
          <li><i class="impact"></i><span>Impact:</span> {{campaign.impact}} children</li>
          <li><i class="languages"></i><span>Languages:</span> {{campaign.languages}} </li>
          <li><i class="beneficiary"></i><span>Beneficiary Type:</span>{{ statusString(campaign.org.info.status)[1] }} </li>
          <li><i class="location"></i><span>Location:</span> {{campaign.city}}, {{campaign.state}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 campaignBottom" >
      <div class="tabbable">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active">
          <a data-toggle="tab" href="#campaign-tab">Campaign</a>
          </li>
          <li class="">
          <a data-toggle="tab" href="#comments-tab">Comments</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="campaign-tab">
            <div class="form-group row">
              <div class="col-md-12">
                <h3>Our story</h3>
                <p> {{campaign.description}}</p>
                <h3>Who we are</h3>
                <p> {{campaign.who}}</p>
                <h3>Our work and its impact</h3>
                <p> {{campaign.impact}}</p>
                <h3> How we will utilize these funds</h3>
                <p> {{campaign.utilization}}</p>
              </div>
            </div>
          </div>
          <!--tab-pane-->

          <div id="comments-tab" class="tab-pane">
            <div class="col-md-12">
              <div id="disqus_thread">
                <script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'donateabook';
                var disqus_identifier = 'campaign/{{campaign.id}}';
                var disqus_title = '{{campaign.title + " on Donate-a-Book" }}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                 })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="no-donation-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myLargeModalLabel"> Fully Funded Campaign </h3>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>This campaign is now fully funded. It is not open to receive any more donations.</h4>
        </div>
        <a type="button" class="btn pull-right" href={{url_for('discover')}}><button class="btn pull-right"> Similar Campaigns</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

