{% extends "base.html" %}
{% block body %}
  <h2>Create new product</h2>
<form id = "create_product" method="post">
  {{ form.hidden_tag() }}
  {{ form.name.label }} {{form.name(size = 20)}}
  {% if form.name.errors %}
    <ul class=errors>
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br/>
  {{ form.description.label }} {{form.description(size = 120)}}<br/>
  {% if form.description.errors %}
    <ul class=errors>
    {% for error in form.description.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br/>
  <button form ="create_product" formaction="{{ url_for('product_add') }}"  type="submit" value="create product" name="submit" formmethod="post">
    Create product
    </button>
</form>
{% endblock body %}
