{% extends "partials/base.html" %}
{% block content %}
<div id="wrapper">
  <div class="container internal">
    <form action={{url_for("search")}} method="GET">
      <div  class="input-group">
        <input type="text" class="form-control" name="search-string" placeholder="SEARCH IN CAMPAIGNS">
        <input type="submit" value="" class="icon-search">
      </div>
    </form>
    <form role="form">
      <div  id="internalContent" class="row discover-top">
        <div class="col-md-4">
          <h5>Language</h5>
          <div class="form-group">
            <select multiple id="languages" class="form-control">
              {% for language in form.languages %}
                {% if language.data != '' %}
                  <option value="{{language.data}}">{{language.label.text}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <h5>Type</h5>
          <div class="form-group">
            <select multiple id="types" class="form-control">
              {% for type in form.types %}
                {% if type.label.value != '' %}
                  <option value="{{type.data}}">{{type.label.text}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <h5>State</h5>
          <div class="form-group">
            <select multiple id="states" class="form-control">
              {% for state in form.states %}
                {% if state.label.text != '' %}
                  <option value="{{state.data}}">{{state.label.text}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <button id="filter-btn" type="submit" class="btn btn-default btn-right-arrow">Filter</button>
      </div>
    </form>
    <!--InternalContent-->

    <div class="row discover" id="internalCampaign">
      <div class="col-md-6">
        <h2>Discover Campaigns
          <br/>
          <span>Start Exploring!!</span>
        </h2>
      </div>

      <div id="campaigns" class="col-md-9">

      </div>

      <div id="tagBlock" class="col-md-3">
        <ul class="featured">
          <li>Featured</li>
          <li><a href="{{ url_for('discover', category='popular') }}">Popular</a> </li>
          <li><a href="{{ url_for('discover', category='recently-launched') }}">Recently Launched</a></li>
          <li><a href="{{ url_for('discover', category='ending-soon') }}">Ending Soon</a></li>
          <li><a href="{{ url_for('discover', category='most-funded') }}" class="active">Most Funded</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <button id="scroll" type="button" class="btn btn-default btn-bottom">Default</button>
    </div>
  </div>
</div> 
{% assets "discover_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"> </script>
{% endassets %}
{% assets "underscore" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"> </script>
{% endassets %}
<script type="text/javascript">
  var campaigns_data = {{ campaigns_data|tojson }};
  $(function() {
      var discover = new DiscoverPage(
        {
          campaign_data:campaigns_data
        }
      );
      discover.start({
        filters : {
          states: {{ states|tojson }},
          languages: {{ languages|tojson }},
          types_string: {{ types|tojson }} 
        }
      });
  });
</script>
{% endblock %}
