{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">
  <div  id="internalContent" class="row">
    <div id="internalCampaign" class="row startCampaign campaignSuccess">
      <div class=" col-md-12 well">
        <h3>Thank you!</h3>
        <div class=" col-md-12">
          <h4>Unfortunately, your donation to {{ campaign.title }} did not go through.</h4>
          <p> If you would like to try again, please click to the button below </p>

          <div class="form-group row">
            <a href={{ url_for('donate', campaign_id=campaign.id ) }} type="button" class="btn">Try Again</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

