<section id="word" class="tab-pane" tabindex=3>
                  <div class="well upload">
                    <h3>Thank you for donating on Pratham Books’ donate-a-book.</h3>

                    <div class="col-md-12">
                      <p>You have empowered more of India’s children to read.</p>
                    </div>

                    <div class="col-md-12 campaign">
                      <h3>Donate To Similar Campaigns </h3>

                      <div class="col-md-3">
                        <h1>Campaign One</h1>
                        <div class="campaignInfo">
                          <time><span>5</span> Days Left</time>
                          <h4>500<span class="percentFunded">110</span></h4>
                          <div class="progress progress-warning">
                            <div style="width: 20%;" class="bar"></div>
                          </div>
                          <h5><span class="days">5</span> <span class="funders">110</span></h5>
                          <div class="tag">
                            <a href="#">Tagged</a>
                          </div>
                          <div class="tag">
                            <a href="#">Tagged</a>
                          </div>
                          <h5 class="amt">Donate This Campaign</h5>
                        </div>
                      </div>


                      <div class="col-md-3 ">
                        <h1>Campaign One</h1>
                        <div class="campaignInfo">
                          <time><span>5</span> Days Left</time>
                          <h4>500<span class="percentFunded">110</span></h4>
                          <div class="progress progress-warning">
                            <div style="width: 20%;" class="bar"></div>
                          </div>
                          <h5><span class="days">5</span> <span class="funders">110</span></h5>
                          <div class="tag">
                            <a href="#">Tagged</a>
                          </div>
                          <div class="tag">
                            <a href="#">Tagged</a>
                          </div>
                          <h5 class="amt">Donate This Campaign</h5>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <h1>Campaign One</h1>
                        <div class="campaignInfo">
                          <time><span>5</span> Days Left</time>
                          <h4>500<span class="percentFunded">110</span></h4>
                          <div class="progress progress-warning">
                            <div style="width: 20%;" class="bar"></div>
                          </div>
                          <h5><span class="days">5</span> <span class="funders">110</span></h5>
                          <div class="tag">
                            <a href="#">Tagged</a>
                          </div>
                          <div class="tag">
                            <a href="#">Tagged</a>
                          </div>
                          <h5 class="amt">Donate This Campaign</h5>
                        </div>
                      </div>
                    </div>
                  </div><!--well--> 
                </section>

