{% extends "partials/base.html" %}
{% from "_formhelpers.html" import render_field, render_bullets, render_checkbox, render_field_row, render_text_field, render_text_area, render_narrow_field, render_select, render_slider, render_heading_textfield, render_heading_textarea%}
{% block content %}
<div class="container internal">

  <div id="pratham-form" class="container">
    <div class="row">

      <div class="col-md-12 col-sm-9">

        <form role="form" novalidate class="col-md-12" method="post">

          <div id="internalContent" class="row beneficiary donor">
            <div  id="internalCampaign" class="row ">
              <div class="col-md-9">
                <section id="donate" class="tab-pane active">
                  <div class="alert hide">&nbsp;</div>
                  <!-- Step 1 starts here-->
                  <div class="jumbotron row" tabindex="1">
                    <h2>Donate: Help India’s children read!</h2>
                    <p>You are just a few steps away from gifting children the experience of reading.</p>
                  </div><!-- Jumbo-->

                  <div class="well">
                    <h3>You are donating books to Campaign: 
                      <a href={{ url_for('campaign', id=campaign.id) }}>{{campaign.title}}</a>
                    </h3>
                    <div class="row form-group" >
                      <label for="amount_choice">Donation Amount<strong>*</strong></label>
                      {{ render_bullets(form.amount_choice) }}
                      <div class="alert alert-warning hide">Select or Enter the donation amount</div>
                    </div>

                    <div class="form-group row">
                      {{ render_text_field(form.customize_amount) }}
                    </div>

                  </div><!--well-->

                  <div class="well">
                    <div class="form-group row">
                      <div class="col-xs-12">
                        <h3>Donor Details:</h3>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-xs-3">
                        <label for="name">Name<strong>*</strong></label>
                      </div>
                      <div class="col-xs-3">
                        <input type="text" class="form-control"  id="name"  name="first_name" placeholder="First Name" value="{{form.first_name.data|default('',True)}}" required />
                        <div class="alert alert-warning hide">Enter First Name</div>
                      </div>
                      <div class="col-xs-3">
                        <input type="text" class="form-control"  id="lastName"  name="last_name" placeholder="Last Name" value="{{form.last_name.data|default('',True)}}" />
                        <div class="alert alert-warning hide">Enter Last Name</div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-xs-3">
                        <label for="address">Address<strong>*</strong></label>
                      </div>
                      <div class="col-xs-3">
                        <input type="text" class="form-control"  id="city" name="city" placeholder="City" value="{{form.city.data|default('',True)}}" required/>
                        <div class="alert alert-warning hide">Enter City</div>
                      </div>
                      <div class="col-xs-3">
                        <select type="text" class="form-control"  id="city" name="state" placeholder="State" value="{{form.state.data|default('',True)}}" required/>
                          <option value="Andhra Pradesh">Andhra Pradesh</option>
                          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                          <option value="Assam">Assam</option>
                          <option value="Bihar">Bihar</option>
                          <option value="Chhattisgarh">Chhattisgarh</option>
                          <option value="Delhi">Delhi</option>
                          <option value="Goa">Goa</option>
                          <option value="Gujarat">Gujarat</option>
                          <option value="Haryana">Haryana</option>
                          <option value="Himachal Pradesh">Himachal Pradesh</option>
                          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                          <option value="Jharkhand">Jharkhand</option>
                          <option value="Karnataka">Karnataka</option>
                          <option value="Kerala">Kerala</option>
                          <option value="Madhya Pradesh">Madhya Pradesh</option>
                          <option value="Maharashtra">Maharashtra</option>
                          <option value="Manipur">Manipur</option>
                          <option value="Meghalaya">Meghalaya</option>
                          <option value="Nagaland">Nagaland</option>
                          <option value="Orissa">Orissa</option>
                          <option value="Punjab">Punjab</option>
                          <option value="Rajasthan">Rajasthan</option>
                          <option value="Sikkim">Sikkim</option>
                          <option value="Tamilnadu">Tamilnadu</option>
                          <option value="Uttar Pradesh">Uttar Pradesh</option>
                          <option value="Uttaranchal">Uttaranchal</option>
                          <option value="West Bengal">West Bengal</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-xs-3">
                        <label for="contactNumber">Contact Number</label>
                      </div>
                      <div class="col-xs-9">
                        <input type="text" class="form-control"  id="contactNumber" name="contactNumber" placeholder="Contact Number" value="{{form.contact_number.data|default('',True)}}" />
                        <div class="alert alert-warning hide">Enter Contact Number</div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-xs-12">
                        <h3>Identification<strong>*</strong></h3>
                      </div>
                      <div class="col-xs-3">
                        <select type="text" class="form-control" id="identification_type" name="identification_type" placeholder="Identification Type" value="{{form.identification_type.data|default('',True)}}" required/>
                        {% for subfield in form.identification_type %}
                          <option selected="selected" value="{{subfield.data}}">{{subfield.label.text}}</option>
                        {% endfor %}
                        </select>
                      </div>
                      <div class="col-xs-9">
                        <input type="text" class="form-control" id="panNumber" name="panNumber" placeholder="Pan Number" value="{{form.pan_number.data|default('',True)}}" required />
                        <div class="alert alert-warning hide">Enter Pan/DL/Passport Number</div>
                      </div>
                    </div>
                  </div><!-- well--> 

                  <div class="well">
                    <div class="form-group row">
                      <div class="col-xs-12">
                        <h3>Would you like to be an anonymous donor?</h3>
                        <p class="help-block">We respect our user’s privacy. Should you choose to be an anonymous donor, your name will not be shared with the beneficiary organization. 
                        If you choose No in the option below only your name and the donation amount is shared with the beneficiary organization
                        {{ render_bullets(form.ann_choice) }}
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-xs-12">
                        <h3>Would you require a Tax Exemption Certificate for this donation?</h3>
                        {{ render_bullets(form.tax_exemption_certificate) }}
                      </div>

                      <div class="col-xs-12">
                        <div class="checkbox">
                          <h3>
                            <input type="checkbox" required="">
                            I have read the Terms & Conditions and verify that all the details provided here by me are accurate. 
                          </h3>
                          <div class="alert alert-warning hide">You need to read and accept the terms and conditions.</div>
                        </div>
                        <button type="submit" id="proceed" class="btn"> Pay </button>
                      </div>
                    </div>

                  </div><!--well-->
                </section>
              </div><!--col-md-12 -->
            </div><!--Internal Campaign row -->
          </div><!--/internalContent-->
        </form>
      </div><!-- xs-12 sm-9-->
    </div><!-- row-->
  </div><!-- Pratham Form-->
</div><!--container internal -->
<script>
  $(function() {
      var form = new DonorForm();
      form.start();
  });
</script>
{% endblock %}
