{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">
  <div class="row discover dashboard campaign" id="internalCampaign">
    <div class="col-md-12">
      <h2>Donor Dashboard
        <span>My donate-a-book footprint</span>
      </h2>
    </div>

    <div class="col-md-12 donorDash">

      <div class="col-md-8">

        <div class="pieCenter">
          <h1>I help <span>India's Children Read</span></h1>
        </div>

        <div class="pie">
          <ul>
            <li class="donations">
            <a href="#"><span>10,203</span> Donations</a>
            </li>
            <li class="impacted">
            <a href="#"><span>80,302</span>Children Impacted</a>
            </li>
            <li class="others">
            <a href="#"><span>35,202</span> Others </a>
            </li>
            <li class="states">
            <a href="#"><span>71,256</span> States Impacted </a>
            </li>
            <li class="totalCampaigns">
            <a href="#"><span>23,040</span> Total Campaigns Donated </a>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-md-4">
        <ul id="socialThumbs">
          <li><a href="#" class="fb">Share on facebook</a></li>
          <li><a href="#" class="tw">Share on twitter</a></li>

        </ul>


        <a href="#" class="flick"></a>
      </ul>
    </div>


    <div class="col-md-12">  
      <div class="col-md-3">
        <h1>Name of the Campaign </h1>


        <div class="campaignInfo">
          <time><span>4</span> Days Left</time>
          <h4>500<span class="percentFunded">110</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5>Status : <span>Active</span></h5>
          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>
          <h5 class="amt">Donate</h5>

        </div>
      </div>



      <div class="col-md-3">
        <h1>Payoshni's class of 21</h1>


        <div class="campaignInfo">
          <time><span>24</span> Days Left</time>
          <h4>500<span class="percentFunded">25</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5>Status : <span>Active</span></h5>
          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>
          <h5 class="amt">Donate</h5>
        </div>
      </div>



      <div class="col-md-3 closed">
        <h1>Karthik's reader club</h1>


        <div class="campaignInfo">
          <time><span>0</span> Days Left</time>
          <h4>500<span class="percentFunded">95</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5>Status : <span>Closed</span></h5>
          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>

          <h5 class="amt">Closed</h5>
        </div>
      </div>



      <div class="col-md-3">
        <h1>Name of the Campaign </h1>


        <div class="campaignInfo">
          <time><span>4</span> Days Left</time>
          <h4>500<span class="percentFunded">110</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5>Status : <span>Active</span></h5>
          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>

          <h5 class="amt">Donate</h5>
        </div>
      </div>


      <div class="col-md-3 closed">
        <h1>Karthik's reader club</h1>


        <div class="campaignInfo">
          <time><span>0</span> Days Left</time>
          <h4>500<span class="percentFunded">95</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5>Status : <span>Closed</span></h5>

          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>
          <h5 class="amt">Closed</h5>
        </div>
      </div>


      <div class="col-md-3">
        <h1>Payoshni's class of 21</h1>


        <div class="campaignInfo">
          <time><span>24</span> Days Left</time>
          <h4>500<span class="percentFunded">25</span></h4>
          <div class="progress progress-warning">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <h5>Status : <span>Active</span></h5>

          <span class="tw"></span><span class="fb"></span>
          <a href="#" class="btn-search pull-right">Similar Campaigns</a>

          <h5 class="amt">Donate</h5>
        </div>
      </div>

    </div>
  </div><!-- col-md-12-->
</div>
{% endblock %}

