{% extends "partials/base.html" %}
{% from "_formhelpers.html" import render_field, render_bullets, render_field_row, render_text_field, render_text_area, render_narrow_field, render_select, render_slider, render_heading_textfield, render_heading_textarea%}
{% block content %}
<div id="pratham-form" class="container internal">
  <form role="form" method="post" action="">
    <div  id="internalContent" class="row">
      <div id="internalCampaign" class="row startCampaign signup log">

        <div class="well">
          <h3>Profile Page</h3>

          <h4>Update Your Information</h4>

          {{render_text_field(form.user_name)}}
          {{render_text_field(form.first_name)}}
          {{render_text_field(form.last_name)}}

          <div class="form-group row">
            <div class="col-xs-4">
              <label for="prepass">Previous Password</label>
            </div>
            <div class="col-xs-8">
              <input type="password" class="form-control" id="prepass" name="prepass" placeholder="Old Password" required />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-xs-4">
              <label for="newpass">Password</label>
            </div>
            <div class="col-xs-8">
              <input type="password" class="form-control" id="newpass" name="newpass" placeholder="NewPassword" required />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-xs-4">
              <label for="repass">Retype Password</label>
            </div>
            <div class="col-xs-8">
              <input type="password" class="form-control" id="repass" name="repass" placeholder="Retype Password" required />
            </div>
          </div>

          {{ render_text_field(form.contact_number) }}
          {{ render_text_field(form.address) }}
          {{ render_text_field(form.pan_number) }}

          <div class="form-group row">
            <div class="col-xs-12">
              <label for="status">Would you like us to send you a Tax Exemption Certificate?</label>
              {{render_bullets(form.need_80g_certificate)}}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">

              <button type="submit" class="btn">Update</button>

            </div>
          </div>
        </div><!--well-->

      </div>
      <!--InternalCampaign-->
    </div>
  </form>
</div>
{% endblock content %}

