{% extends "base.html" %}
{% block body %}
  {% if products %}
    <h2> List of available products </h2>
    <ul id="products">
      {% for product in products %}
	<li> 
	  <div class="header">
	    <span class="name">{{product.name}}</span> <span class="by">{{product.by}}</span>
	  </div>
	  <p class="description">
	    {{product.description}}
	  </p>
	</li>
      {% endfor %}
    </ul>
  {% else %}
    No products available.
  {% endif %}
    <img src="{{ url_for('static', filename='images/copperplate-4.jpg')}}" alt = "Copperplate"/>
{% endblock body %}
