{% extends "base.html" %}
{% block body %}
  {% if products %}
    <h2> List of available products </h2>
    <ul id="products">
      {% for product in products %}
	<li> 
	  <div class="header">
	    <span class="name">{{product.name}}</span> <span class="by">{{product.by}}</span>
	  </div>
	  <p class="description">
	    {{product.description}}
	  </p>
	</li>
      {% endfor %}
    </ul>
  {% else %}
    No products available.
  {% endif %}

  {% if categories %}
    <h2> List of available categories </h2>
    <ul id="categories">
      {% for category in categories %}
      <li>
        <div class="header">
          <span class="name">{{category.name}}</span>
        </div>
        <p class="icon">
          <img src="{{category.icon_url}}"/>
        </p>
      </li>
      {% endfor %}
    </ul>
{% else %}
  No categories available
{% endif %}
{% endblock body %}
