{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">
  <form role="form" action="login/webform" method="POST">
    <div  id="internalContent" class="row">
      <div id="internalCampaign" class="row startCampaign signup log" style="padding: 0px 220px;">
        <div class=" col-md-12 well">
          <h3>Login Via:</h3>
          <div class=" col-md-6">
            <div class=" col-md-6">
              <div class="form-group row">
                <label for="infoEmail">Email</label>
                <input type="email" class="form-control" id="infoEmail"  name="email" placeholder="Email" required />
              </div>
            </div>

            <div class=" col-md-6">
              <div class="form-group row">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" name="password" placeholder="Password" required />
                <button type="submit" class="btn">Login</button>
                <a href="#">Forgot Password</a>
              </div>
            </div>
          </div>
          <div class=" col-md-6">
            <h4 style="margin-top: 23px !important;">Or 
              <a class="fb" href="/login/facebook">Facebook</a>
            </h4>
          </div>
        </div>

      </div>
      <!--InternalCampaign-->
    </div>
  </form>
</div>
{% endblock %}

