{% extends "partials/base.html" %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<h3>{{ message }}</h3>
{% endfor %}
{% endif %}
{% endwith %}
{% block content %}
<div class="container internal">
  <form  method="POST" action={{ url_for('login_via_webform', next=next)}}>
    <div  id="internalContent" class="row">
      <div id="internalCampaign" class="row startCampaign contact log">
        <div class="well">
          <h3>Login here!</h3>
          <div class="form-group row">
            <div class="col-xs-4">
              <label for="infoEmail">Email</label>
            </div>
            <div class="col-xs-8">
              <input type="email" class="form-control" value=" {{ form.email.data or '' }} " name="email" placeholder="Email" required />
              {% if form.email.errors %}
              <ul class="errors">
                {% for error in form.email.errors %}
                <li><div class="alert alert-warning">{{ error }}</div></li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-xs-4">
              <label for="pass">Password</label>
            </div>
            <div class="col-xs-8">
              <input type="password" class="form-control" {{ form.password.data or '' }} name="password" placeholder="Password" required />
              {% if form.password.errors %}
              <ul class="errors">
                {% for error in form.password.errors %}
                <li><div class="alert alert-warning">{{ error }}</div></li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>


          <div class="form-group row">
            <div class="col-md-12">

              <button type="submit" class="btn">Login</button>

              <a href="#">Lost Password</a>

            </div>
          </div>
        </div><!--well-->

      </div>
      <!--InternalCampaign-->
    </div>
  </form>
</div>
{% endblock %}
