{% extends "partials/base.html" %}
{% block content %}
<div class="container internal">
  <div id="pratham-form" class="container">
    <div class="row">
      <div ng-controller="signupController" class="col-xs-12 col-sm-9"><!-- ng-controller=signupController -->

        This is a place holder to show details. Since we don't have admin view.
        <h3> Details </h3><a href="{{ url_for('edit_profile') }}">Edit</a><br/>
        First Name: {{ current_user.first_name }}<br/>
        Last Name: {{ current_user.last_name }}<br/>
        Email: {{ current_user.email }}<br/>
        Address: {{ current_user.userinfo.address }}<br/>
        Contact Number: {{ current_user.userinfo.contact_number }}<br/>
        Pan Number: {{ current_user.userinfo.pan_number }}<br/>
        Need 80G Certificate: {{ current_user.userinfo.need_80g_certificate }}<br/>
        <h3>Donated Projects</h3>
        Nothing yet
        <br/>
        <h3>Your Projects</h3>
        Nothing yet
        <br/>

      </div><!-- xs-12 sm-9-->
    </div><!-- row-->

  </div><!-- Pratham Form-->

</div><!--container internal -->
{% endblock content%}
