{% extends "signup_as_beneficary.html" %}
{% block signup_as_beneficary_step %}
<section id="step2"  class="tab-pane" tabindex="2">
  <div class="jumbotron row">
    <h1>Step 2: Get Started</h1>
    <p>You are just a few simple steps away from getting fabulous stories to the children that you work with!</p>
  </div>

  <div class="well">
    <h3>What are you raising money for?</h3>
    <p>Please select what you wish to raise money for. For your convenience we have four types of donations to choose from.</p>
    <ol start="1">
      <li>
        If you already have a functional library we recommend you choose just Books.
      </li>
      <li>
        If you wish to build a classroom library or need a modular unit with books try our 'Library-in-a-classroom or Books-in-a-bag.
        <a href="#">Click</a> here to see how functional a little bag can be! <!--(blurb which opens up images and information on LIC)!-->
      </li>
      <li>
        If you are a school or an NGO that would like to raise money to give away books as prizes or distribute books choose the
        option titles Prizes.
      </li>
      <li>
        If you are a Reading champion who wants to raise books to promote the habit of reading choose the last option titled
        Reading Sessions.
      </li>
    </ol>
    <div class="form-group row" id="bookCounts">
      <h3>You can also choose a mix of different product offerings in the same funding campaign! <strong>*</strong></h3>
      {% if form.product_offerings.errors %}
      <div class="alert alert-warning">Choose any one / more than one option below and fill the number of books for the selected option</div>
      {% endif %}


      {% for subfield in form.product_offerings %}
      <div class="col-xs-9 row">
        <div class="col-xs-5">
          <div class="checkbox">
            <label for="{{subfield.id}}">
              {{ subfield }}
              {{ subfield.label.text }}
            </label>
            {% if subfield.data == 2 %}
            <p class="help-block">Each LIC kit contains 125 books each.</p>
            {% endif %}
          </div>
        </div>
        <div class="col-xs-4">
          {% if subfield.data == 1 %}
              {{ form.product_offerings1(class_="form-control", placeholder="No. of books for my library") }}
          {% elif subfield.data == 2 %}
              {{ form.product_offerings2(class_="form-control", placeholder="No. of kits") }}
          {% elif subfield.data == 3 %}
              {{ form.product_offerings3(class_="form-control", placeholder="No. of books as prize / give aways") }}
          {% elif subfield.data == 4 %}
              {{ form.product_offerings4(class_="form-control", placeholder="No. of books for reading sessions") }}
          {% endif %}
        </div>
      </div>
      {% endfor %}

    </div>
  </div><!--well-->

  <div id="goal" class="well">
    <div class="row form-group">
      <div class="col-xs-12">
        <h3>Based on your requirement your funding goal is :</h3>
      </div>
      <div class="col-xs-4">Number of Books</div>
      <div class="col-xs-8"><span id="noOfBooks"></span></div>
    </div>

    <div class="row form-group">
      <div class="col-xs-4">
        Average value of a book
      </div>
      <div class="col-xs-8">
        <span id="averageVal">50</span>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-4">
        Amount (in Rupees)
      </div>
      <div class="col-xs-8">
        <span id="bookAmount"></span>
      </div>
    </div>

    <p>
      <strong>PLEASE NOTE:</strong>
      If the above amount is not what you had in mind please change your requirement in the previous question on the number of books .
      The minimum amount you can raise on this site is Rs. 5000. If this is the first time you are raising funds the maximum you can
      raise is Rs. 25,000. For our repeat patrons the fund raising limit is Rs. 50,000.<br/>
      Please read the <a href="#">terms and conditions </a>
      before proceeding.

    </p>
  </div><!--well-->


  <div class="well">
    <h3>Languages <strong>*</strong></h3>
    <div class="form-group row" id="language">
      <h3>You can also choose a mix of different product offerings in the same funding campaign!</h3>


      <p>
        Pratham Books publishes books in upto 12 Indian languages. Your donation will entitle you to choose books across
        any 3 languages that are in stock.
      </p>
      <p>
        We hope you will appreciate that the in-stock items keep changing but letting us know in advanced of your requirement of books across languages and levels will  help us serve you better. <br/>
        Reserve books now!
      </p>



      <div class="col-xs-4">
        {% if form.language1.errors %}
        <div class="alert alert-warning">Enter number of books in any one language or more than 1 language.</div>
        {% endif %}

        {% if form.gross_total.errors %}
        <div class="alert alert-warning">{% for error in form.gross_total.errors %}{{error}}{% endfor %}</div>
        {% endif %}

        <div class="col-xs-2">Level</div>
        <div class="col-xs-10">Description</div>

      </div>

      <div class="col-xs-8">
        <div class="col-xs-4">
          {{ form.language1(class_="form-control")}}
        </div>
        <div class="col-xs-4">
          {{ form.language2(class_="form-control")}}
        </div>

        <div class="col-xs-4">
          {{ form.language3(class_="form-control")}}
        </div>

      </div>
      <div class="col-xs-4">
        <div class="col-xs-2">1</div>
        <div class="col-xs-10">Beginning to Read / Read Aloud</div>
      </div>

      <!-- <button type="button" id="addLanguage" class="btn btn-success btn-lg">Add another language</button>-->

      <!--Level 1 -->
      <div class="col-xs-8">
        <div class="col-xs-4">
          <span class="level1">
            {{ form.begining_to_read1(class_="form-control js-no-books-col-1", placeholder="No. of books") }}
          </span>
        </div>
        <div class="col-xs-4">
          <span class="level1">
            {{ form.begining_to_read2(class_="form-control js-no-books-col-2", placeholder="No. of books") }}
          </span>
        </div>
        <div class="col-xs-4">
          <span class="level1">
            {{ form.begining_to_read3(class_="form-control js-no-books-col-3", placeholder="No. of books") }}
          </span>
        </div>
      </div><!--End of Level 1 -->



      <div class="col-xs-4">
        <div class="col-xs-2">2</div>
        <div class="col-xs-10">Learning to Read</div>
      </div>

      <!--Level 2 -->
      <div class="col-xs-8">
        <div class="col-xs-4">
          <span class="level2">
            {{ form.learning_to_read1(class_="form-control js-no-books-col-1", placeholder="No. of books") }}
          </span>
        </div>
        <div class="col-xs-4">
          <span class="level2">
            {{ form.learning_to_read2(class_="form-control js-no-books-col-2", placeholder="No. of books") }}
          </span>
        </div>
        <div class="col-xs-4">
          <span class="level2">
            {{ form.learning_to_read3(class_="form-control js-no-books-col-3", placeholder="No. of books") }}
          </span>
        </div>
      </div><!--End of Level 2 -->

      <div class="col-xs-4">

        <div class="col-xs-2">3</div>
        <div class="col-xs-10">Reading Independently</div>
      </div>

      <!--Level 3 -->
      <div class="col-xs-8">
        <div class="col-xs-4">
          <span class="level3">
            {{ form.reading_independently1(class_="form-control js-no-books-col-1", placeholder="No. of books") }}
          </span>
        </div>
        <div class="col-xs-4">
          <span class="level3">
            {{ form.reading_independently2(class_="form-control js-no-books-col-2", placeholder="No. of books") }}
          </span>
        </div>
        <div class="col-xs-4">
          <span class="level3">
            {{ form.reading_independently3(class_="form-control js-no-books-col-3", placeholder="No. of books") }}
          </span>
        </div>
      </div><!--End of Level 3 -->


      <div class="col-xs-4">
        <div class="col-xs-2">4</div>
        <div class="col-xs-10">Reading Proficiently</div>
      </div>

      <!--Level 3 -->
      <div class="col-xs-8">
        <div class="col-xs-4">
          <span class="level4">
            {{ form.reading_proficiently1(class_="form-control js-no-books-col-1", placeholder="No. of books") }}
          </span>
        </div>
        <div class="col-xs-4">
          <span class="level4">
            {{ form.reading_proficiently2(class_="form-control js-no-books-col-2", placeholder="No. of books") }}
          </span>
        </div>
        <div class="col-xs-4">
          <span class="level4">
            {{ form.reading_proficiently3(class_="form-control js-no-books-col-3", placeholder="No. of books") }}
          </span>
        </div>
      </div><!--End of Level 4 -->
      <!--Net Total -->
      <div class="col-xs-4">
        <div class="col-xs-12">Net Total</div>
      </div>
      <div class="col-xs-8">
        <div class="col-xs-4">
          <span class="level5"><input type="text" id="js-total-books-col-1" class="form-control" ng-model="signup.library[]" name="library[]" placeholder="Total No. of Books" readonly /></span>
        </div>
        <div class="col-xs-4">
          <span class="level5"><input type="text" id="js-total-books-col-2" class="form-control" ng-model="signup.library[]" name="library[]" placeholder="Total No. of Books"  readonly/></span>
        </div>
        <div class="col-xs-4">
          <span class="level5"><input type="text" id="js-total-books-col-3" class="form-control" ng-model="signup.library[]" name="library[]" placeholder="Total No. of Books"  readonly/></span>
        </div>
      </div><!--End of Total -->


      <div class="form-group row">
        <!--Gross Total -->
        <div class="col-xs-4">
          <div class="col-xs-12">Gross Total
            <p class="help-block">Number of books in "this" language <span id="booksLeft"></span> (left)</p>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="col-xs-12">
            <span class="level5"><input type="text" id="js-books-gross-total" class="form-control" ng-model="signup.library[]" name="library[]" placeholder="Gross Total of Books" readonly/></span>
          </div>
        </div><!--Gross Total -->

      </div>

    </div>
  </div><!--well-->

  <div id="duration" class="well">
    <h3>Duration of Campaign</h3>
    <p>A campaign can raise funds for up to <span>30 days</span>, but the average fully-funded campaign is only <span>25 days</span> long.
      You campaign will run for the number of days that you select and will start from the day the campaign goes live.
      Please note that there will be a <span>5 days</span> lead time after campaign ends and before you get your books.
      Therefore plan your campaign time wisely!
    </p>

  </div><!--well-->

</section>
{% endblock %}
