{% extends "base.html" %}
{% block body %}
Step 1: Getting to know you
Congratulations on your first step towards setting up your very own Campaign on Pratham Book’s Donate – A –Book. We want to know more about your organization and the work you do. Answer each question as best you can and if you have a query please write to us at donateabook@prathambooks.org.
<br/>
<form method="POST" action="#">
    <div><br/>
        {{ form.category.label}}:
        <h4>Pick one category that best describes you and the reason you are raising
            funds. Please take your time to select this as this impacts the next steps.</h4>
        {{ form.category() }}
        {% if form.category.errors %}
        <ul class="errors">
            {% for error in form.category.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div><br/>
        <fieldset>
            <legend>Tell us a little more about you/your organization</legend>
        {{ form.name.label}}: {{ form.name() }}
        {% if form.name.errors %}
        <ul class="errors">
            {% for error in form.category.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br/>
        {{ form.orginaztion_status.label}}: {{ form.orginaztion_status() }}
        {% if form.orginaztion_status.errors %}
        <ul class="errors">
            {% for error in form.orginaztion_status.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <br/>
        {{ form.address.label}}: {{ form.address() }}
        {% if form.address.errors %}
        <ul class="errors">
            {% for error in form.address.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <br/>
        {{ form.contact_number.label}}: {{ form.contact_number() }}
        {% if form.contact_number.errors %}
        <ul class="errors">
            {% for error in form.contact_number.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <br/>
        {{ form.email.label}}: {{ form.email() }}
        {% if form.email.errors %}
        <ul class="errors">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <br/>
        {{ form.website.label}}: {{ form.website() }}
        {% if form.website.errors %}
        <ul class="errors">
            {% for error in form.website.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <br/>
        {{ form.facebook.label}}: {{ form.facebook() }}
        {% if form.facebook.errors %}
        <ul class="errors">
            {% for error in form.facebook.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <br/>
        {{ form.website.label}}: {{ form.website() }}
        {% if form.website.errors %}
        <ul class="errors">
            {% for error in form.website.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </fieldset>
    </div>
    <br/>
    <div>
        <fieldset>
            <legend>Update us on your certifications:</legend>
            <br/>
            {{ form.has_80g_certificate.label}}: {{ form.has_80g_certificate() }}
            {% if form.has_80g_certificate.errors %}
            <ul class="errors">
                {% for error in form.has_80g_certificate.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>
    </div>
    <br/>
    <div>
        <fieldset>
            <legend>Stay in touch:</legend>
            <br/>
            Person1
            <br/>
            {{ form.person1_name.label}}: {{ form.person1_name() }}
            {% if form.person1_name.errors %}
            <ul class="errors">
                {% for error in form.person1_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            {{ form.person1_position.label}}: {{ form.person1_position() }}
            {% if form.person1_position.errors %}
            <ul class="errors">
                {% for error in form.person1_position.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            {{ form.person1_email.label}}: {{ form.person1_email() }}
            {% if form.person1_email.errors %}
            <ul class="errors">
                {% for error in form.person1_email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            {{ form.person1_phone.label}}: {{ form.person1_phone() }}
            {% if form.person1_phone.errors %}
            <ul class="errors">
                {% for error in form.person1_phone.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            Person2
            <br/>
            <br/>
            {{ form.person2_name.label}}: {{ form.person2_name() }}
            {% if form.person2_name.errors %}
            <ul class="errors">
                {% for error in form.person2_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            {{ form.person2_position.label}}: {{ form.person2_position() }}
            {% if form.person2_position.errors %}
            <ul class="errors">
                {% for error in form.person2_position.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            {{ form.person2_email.label}}: {{ form.person2_email() }}
            {% if form.person2_email.errors %}
            <ul class="errors">
                {% for error in form.person2_email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            {{ form.person2_phone.label}}: {{ form.person2_phone() }}
            {% if form.person2_phone.errors %}
            <ul class="errors">
                {% for error in form.person2_phone.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
        </fieldset>
    </div>
    <br/>
    <div>
        <fieldset>
            <legend>Stay in Touch</legend>
            <br/>
            {{ form.has_80g_certificate.label}}: {{ form.has_80g_certificate() }}
            {% if form.has_80g_certificate.errors %}
            <ul class="errors">
                {% for error in form.has_80g_certificate.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </fieldset>
    </div>
    <br/>
    <div>
        <fieldset>
            <br/>
            <h2>A little more about what you/your organization does</h2>
            {{ form.org_intro.label}}: {{ form.org_intro() }}
            {% if form.org_intro.errors %}
            <ul class="errors">
                {% for error in form.org_intro.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            <h2>Overall impact numbers</h2>
            {{ form.total_impact_on_children.label}}: {{ form.total_impact_on_children() }}
            {% if form.total_impact_on_children.errors %}
            <ul class="errors">
                {% for error in form.total_impact_on_children.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            {{ form.age_group_of_children.label}}: {{ form.age_group_of_children() }}
            {% if form.age_group_of_children.errors %}
            <ul class="errors">
                {% for error in form.age_group_of_children.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br/>
            {{ form.org_work.label}}: {{ form.org_work() }}
            {% if form.org_work.errors %}
            <ul class="errors">
                {% for error in form.org_work.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>
    </div>
</form>
{% endblock body %}
