{% extends "base.html" %}
{% block css %}
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bForm.css" rel="stylesheet">
<link href="/static/css/slider.css" rel="stylesheet">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/static/js/bootstrap-slider.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}
{% block body %}

<form method="POST" action="#">
{% for field in form %}
{{ field.label }}: {{ field }}<br/>

{% if field.name in form.errors %}
    {{ form.errors[field.name][0] }}<br/>
{% endif %}
<br/>
{% endfor %}
    <button>Submit</button>
</form>
{% endblock body %}
