{% extends "base.html" %}
{% block content %}
<div id="pratham-form" class="container">
  <div class="row">
    <h2 class="affix">Beneficiary Form</h2>
    <div id="sidebar" class="list-group col-xs-6 col-sm-3 affix"  role="navigation">
      <a href="#step1" class="list-group-item active">Step 1 : Getting To Know You </a>
      <a  class="list-group-item" href="#step2">Step 2 : Get Started</a>
      <a  class="list-group-item" href="#step3">Step 3 : Set-up Your Campaign</a>
      <a  class="list-group-item" href="#step4">Step 4 : Get Funded</a>
    </div>

    <div ng-controller="signupController" class="col-xs-12 col-sm-9"><!-- ng-controller=signupController -->

      <form role="form" novalidate class="col-md-12" method="post" action="">

        <div id="internalContent" class="row beneficiary">
          <div  id="internalCampaign" class="row ">
            <div class="col-md-12">
              {% include "signup_as_beneficary_step1.html" %}
              {% include "signup_as_beneficary_step2.html" %}
              {% include "signup_as_beneficary_step3.html" %}
              {% include "signup_as_beneficary_step4.html" %}

              <a type="button" id="next" class="btn">Next</a>
              <a type="button" id="previous" class="btn">Previous</a>

            </div><!--col-md-12 -->
          </div><!--Internal Campaign row -->
        </div><!--/internalContent-->
      </form>
    </div><!-- xs-12 sm-9-->
  </div><!-- row-->

</div><!-- Pratham Form-->
{% endblock %}
