{% extends "signup_as_beneficary.html" %}
{% block signup_as_beneficary_step %}
{% from "_formhelpers.html" import render_field %}
<section id="step1" class="tab-pane active">
  <div class="alert hide">&nbsp;</div>
  <!-- Step 1 starts here-->
  <div class="jumbotron row" tabindex="1">
    <h1>Step 1: Getting to know you </h1>
    <p>Congratulations  on  your first step towards setting up your very own Campaign on Pratham Book’s  Donate – A –Book.
      We want to know more about your organization and the work you do. Answer each question as best you can and if you have a query
      please write to us at <a href="mailto:donateabook@prathambooks.org">donateabook@prathambooks.org</a>.
    </p>
  </div><!-- Jumbo-->

  <div class="well">

    <div class="row form-group" >
      <h3>Which category best describes you? <strong>*</strong></h3>
      {% if form.category.errors %}
          <div class="alert alert-warning alertleft">{% for error in form.category.errors %}{{ error }}{% endfor %}</div>
      {% endif %}
      <p>Pick one category that best describes you and the reason you are raising funds. Please take your time to select this as this
        impacts the next steps.</p>
      {% for subfield in form.category %}
      <div class="radio">
        <label>
        {{subfield}}
        {{subfield.label.text}}
        </label>
      </div>
      {% endfor %}
    </div> <!--row-->
  </div><!--well-->
  <hr/>

  <div class="well">
    <h3>Tell us a little more about you/your organization</h3>
    <div class="form-group row">
      <div class="col-xs-4">
        <label for="name">Name of the Organisation/Individual <strong>*</strong></label>
      </div>
      <div class="col-xs-8">
        {{form.organization_name(class_='form-control', placeholder="Name of organisation / Individual")}}
        {% if form.organization_name.errors %}<div class="alert alert-warning">Enter Name of organisation.</div>{% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-12">
        <label for="status">Organisation Status <strong>*</strong></label>
        {% if form.organization_status.errors %}<div class="alert alert-warning alertleft ">Please select any one option below.</div>{%endif%}
        {% for subfield in form.organization_status %}
        <div class="radio">
          <label>
            {{subfield}}
            {{subfield.label.text}}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="head_off_address">Head Office Address <strong>*</strong></label>
      </div>
      <div class="col-xs-8">
        {{form.head_off_address(class_='form-control', placeholder="Head Office Address")}}
        {% if form.head_off_address.errors %}
        <div class="alert alert-warning">Enter Head Office Address.</div>
        {%endif%}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="head_off_phone_number">Head Office Phone Number <strong>*</strong></label>
      </div>
      <div class="col-xs-8">
        {{form.head_off_phone_number(class_='form-control', placeholder="Head Office Phone Number")}}
        {% if form.head_off_phone_number.errors %}
        <div class="alert alert-warning">Enter Head Office Phone Number.</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="info_email">Info Email ID <strong>*</strong></label>
      </div>
      <div class="col-xs-8">
        {{form.info_email(class_='form-control', placeholder="Info Email ID")}}
        {% if form.info_email.errors %}
        <div class="alert alert-warning">Invalid Info Email ID.</div>
        {% endif %}
        <p class="help-block">Please add the organisation info ID. It should not be individual specific.</p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="website">Website</label>
      </div>
      <div class="col-xs-8">
        {{form.website(class_='form-control', placeholder="Website")}}
        {% if form.website.errors %}
        <div class="alert alert-warning">Invalid Website.</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="facebook_page">Facebook page</label>
      </div>
      <div class="col-xs-8">
        {{form.facebook_page(class_='form-control', placeholder="Facebook Page")}}
        {% if form.facebook_page.errors %}
        <div class="alert alert-warning">Invalid link.</div>
        {% endif %}

      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="blog_address">Blog Address</label>
      </div>
      <div class="col-xs-8">
        {{form.blog_address(class_='form-control', placeholder="Blog Address")}}
        {% if form.blog_address.errors %}
        <div class="alert alert-warning">Invalid blog address.</div>
        {% endif %}

      </div>
    </div>
  </div><!--well-->

  <hr/>

  <div class="well">
    <h3>Update us on your certifications:</h3>
    <div class="form-group row">
      <div class="col-xs-12">
        <label>Does your organisation have 80G certification <strong>*</strong></label>
        {% if form.has_80g_certificate.errors %}
        <div class="alert alert-warning alertleft">Please select any one option below.</div>
        {% endif %}

        {% for subfield in form.has_80g_certificate %}
        <div class="radio">
          <label>
            {{subfield}}
            {{subfield.label.text}}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div><!--well-->

  <hr/>

  <div class="well">
    <h3>Stay in touch</h3>
    <p>Give us  details about  2 people from your organization with whom we can stay in touch with</p>
    <h4>Person 1</h4>
    <div class="form-group row">
      <div class="col-xs-4">
        <label for="userName">Your Name</label>
      </div>
      <div class="col-xs-8">
        {{form.person1_name(class_='form-control', placeholder="Your Name")}}
        {% if form.person1_name.errors %}
        <div class="alert alert-warning">Enter Name.</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="position">Position in the organisation</label>
      </div>
      <div class="col-xs-8">
        {{form.person1_position(class_='form-control', placeholder="Position")}}
        {% if form.person1_position.errors %}
        <div class="alert alert-warning">Enter Position.</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="userEmail">Your Email Id.</label>
      </div>
      <div class="col-xs-8">
        {{form.person1_email(class_='form-control', placeholder="Your Email Id")}}
        {% if form.person1_email.errors %}
        <div class="alert alert-warning">Invalid Email Id.</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="userPhone">Your Phone</label>
      </div>
      <div class="col-xs-8">
        {{form.person1_phone(class_='form-control', placeholder="Your Phone no.")}}
        {% if form.person1_phone.errors %}
        <div class="alert alert-warning">Enter Phone Number.</div>
        {% endif %}
      </div>
    </div>

    <h4>Person 2</h4>
    <div class="form-group row">
      <div class="col-xs-4">
        <label for="userName">Your Name</label>
      </div>
      <div class="col-xs-8">
        {{form.person2_name(class_='form-control', placeholder="Your Name")}}
        {% if form.person2_name.errors %}
        <div class="alert alert-warning ">Enter Name.</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="position">Position in the organisation</label>
      </div>
      <div class="col-xs-8">
        {{form.person2_position(class_='form-control', placeholder="Position")}}
        {% if form.person2_position.errors %}
        <div class="alert alert-warning ">Enter Position.</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="userEmail">Your Email Id.</label>
      </div>
      <div class="col-xs-8">
        {{form.person2_email(class_='form-control', placeholder="Your Email Id")}}
        {% if form.person2_email.errors %}
        <div class="alert alert-warning ">Invalid Email Id.</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4">
        <label for="userPhone">Your Phone</label>
      </div>
      <div class="col-xs-8">
        {{form.person2_phone(class_='form-control', placeholder="Your Phone no.")}}
        {% if form.person2_phone.errors %}
        <div class="alert alert-warning ">Enter Phone Number.</div>
        {% endif %}
      </div>
    </div>

  </div><!--well-->

  <hr/>

  <div class="well">
    <h3>A little more about what you/your organization does <strong>*</strong></h3>
    <div class="form-group row">
      <div class="col-xs-4">
        <label for="aboutYou">Please explain briefly the impact that your organisation’s work is having on children / community it is serving .</label>
      </div>
      <div class="col-xs-8">
        {{form.org_intro(class_='form-control')}}
        {% if form.org_intro.errors %}
        <div class="alert alert-warning">Share how childern are affected with your work.</div>
        {% endif %}
      </div>
    </div>

    <h3>Overall impact numbers <strong>*</strong></h3>
    <div class="form-group row">
      <div class="col-xs-4">
        <label for="childrenNumber">Number of children that you/your organization have impacted since commencement / impacts currently</label>
      </div>
      <div class="col-xs-8">
        {{form.total_impact_on_children(class_='form-control', placeholder="Number of Children that you / your organization impacts")}}
        {% if form.total_impact_on_children.errors %}
        <div class="alert alert-warning">Enter number of children being impacted.</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group row age">
      <div class="col-xs-4">
        <label for="age_group_of_children">Age group of children you impact</label>
      </div>
      <div class="col-xs-8">
        {{form.age_group_of_children(class_='form-control', placeholder="Age group of children you impact")}}
        {% if form.age_group_of_children.errors %}
        <div class="alert alert-warning">Enter age group of children.</div>
        {% endif %}
      </div>
    </div>


    <!-- <div class="form-group row"> -->
    <!--   <div class="col-xs-12"> -->
    <!--     <label for="age">Do you/your organization do any work for following (check all that apply):<strong>*</strong></label> -->
    <!--     <div class="alert alert-warning  alertleft hide">Please select any one option below.</div> -->

        <!-- <div class="checkbox"> -->
        <!--   <label> -->
        <!--     <input type="checkbox" required ng-model="signup.orgFollowing[]" name="orgFollowing[]" value="Children in Rural areas"> -->
        <!--     Children in Rural areas -->
        <!--   </label> -->
        <!-- </div> -->
        <!-- <div class="checkbox"> -->
        <!--   <label> -->
        <!--     <input type="checkbox" required ng-model="signup.orgFollowing[]" name="orgFollowing[]" value="Children in low income Urban area"> -->
        <!--     Children in low income Urban area -->
        <!--   </label> -->
        <!-- </div> -->

        <!-- <div class="checkbox"> -->
        <!--   <label> -->
        <!--     <input type="checkbox" required ng-model="signup.orgFollowing[]" name="orgFollowing[]" value="Children living in tribal areas"> -->
        <!--     Children living in tribal areas -->
        <!--   </label> -->
        <!-- </div> -->

        <!-- <div class="checkbox"> -->
        <!--   <label> -->
        <!--     <input type="checkbox" required ng-model="signup.orgFollowing[]" name="orgFollowing[]" value="Children  with special needs "> -->
        <!--     Children  with special needs -->
        <!--   </label> -->
        <!-- </div> -->

        <!-- <div class="checkbox"> -->
        <!--   <label> -->
        <!--     <input type="checkbox" required ng-model="signup.orgFollowing[]" name="orgFollowing[]" value="Children who are  differently abled "> -->
        <!--     Children who are  differently abled -->
        <!--   </label> -->
        <!-- </div> -->

    <!--   </div> -->
    <!-- </div> -->
  </div><!--well-->
</section>
{% endblock %}
