{% extends "partials/base2.html" %}
{% block body %}
<div id="pratham-form" class="container">
  <div class="row">
    <h2>Donate Form</h2>
    <div id="sidebar" class="list-group col-xs-6 col-sm-3"  role="navigation">
      <a class="list-group-item active" href="#donate" > Step1: Donate </a>
      <a class="list-group-item" href="#pay">Step2 : Pay </a>
      <a class="list-group-item" href="#word">Step3 : Spread The Word </a>
    </div>

    <div ng-controller="signupController" class="col-xs-12 col-sm-9"><!-- ng-controller=signupController -->

      <form role="form" novalidate class="col-md-12" method="post" action="">

        <div id="internalContent" class="row beneficiary donor">
          <div  id="internalCampaign" class="row ">
            <div class="col-md-12">
              <section id="donate" class="tab-pane active">
                <div class="alert hide">&nbsp;</div>
                <!-- Step 1 starts here-->
                <div class="jumbotron row" tabindex="1">
                  <h1>Step 1: Donate</h1>
                  <p>Just few more steps towards donation.</p>
                </div><!-- Jumbo-->

                <div class="well">
                  <h3>Your Contribution Summary<strong>*</strong></h3>
                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="summary">Type your Contribution summary here.</label>
                    </div>
                    <div class="col-xs-8">
                      <textarea class="form-control" rows="3" ng-model="" name="summary"></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="amt">How much would you like to contribute?</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text" required class="form-control" ng-model="" name="amt" placeholder="Contribution Amount"/>
                      <div class="alert alert-warning hide">Enter the donation amount</div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-12">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" required ng-model="signup.orgFollowing[]" name="orgFollowing[]" value="Children in Rural areas" checked>
                          Don't display my name on the campaign page
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" required ng-model="signup.orgFollowing[]" name="orgFollowing[]" value="Children in low income Urban area" checked>
                          Sign me for the PBGiving Newsletter
                        </label>
                      </div>
                    </div>
                  </div>
                </div><!--well-->

                <div class="well">
                  <div class="form-group row">
                    <div class="col-xs-12">
                      <h3>Contact Information:</h3>
                      <p>
                      We understand that this maybe a bit cumbersome but for statutory reasons we need to have the following 	details.
                      You are just a few minutes away helping us get delightful stories to children!
                      </p>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="firstName">First Name</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text"  class="form-control" name="first_name"
                      value="{{ form.first_name.data or '' }}" placeholder="First Name"/>
                      {% if form.first_name.errors %}
                      <ul class="errors">
                        {% for error in form.first_name.errors %}
                        <li><div class="alert alert-warning">{{ error }}</div></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="lastName">Last Name</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text"  class="form-control" value="{{ form.last_name.data or ''}}" name="last_name" placeholder="Last Name"/>
                      {% if form.last_name.errors %}
                      <ul class="errors">
                        {% for error in form.last_name.errors %}
                        <li><div class="alert alert-warning">{{ error }}</div></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="userName">User Name</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text" class="form-control" value="{{ form.user_name.data or '' }}" name="user_name" placeholder="User Name"/>
                      {% if form.user_name.errors %}
                      <ul class="errors">
                        {% for error in form.user_name.errors %}
                        <li><div class="alert alert-warning">{{ error }}</div></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="password">Password</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="password" class="form-control" value="{{ form.password.data or ''}}" name="password" placeholder="Enter Password"/>
                      {% if form.password.errors %}
                      <ul class="errors">
                        {% for error in form.password.errors %}
                        <li><div class="alert alert-warning">{{ error }}</div></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      <div class="alert alert-warning hide">Enter password</div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="email">Email</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="email" class="form-control" value="{{ form.email.data or '' }}" name="email" placeholder="Enter Email id"/>
                      {% if form.email.errors %}
                      <ul class="errors">
                        {% for error in form.email.errors %}
                        <li><div class="alert alert-warning">{{ error }}</div></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      <div class="alert alert-warning hide">Enter email Id</div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="address">Address</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text" class="form-control" value="{{ form.address.data or '' }}" name="address" placeholder="Address"/>
                      {% if form.address.errors %}
                      <ul class="errors">
                        {% for error in form.adrress.errors %}
                        <li><div class="alert alert-warning">{{ error }}</div></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="contactNumber">Contact Number</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text" class="form-control" value="{{ form.contact_number.data or '' }}" name="contact_number" placeholder="Contact Number"/>
                      {% if form.contact_number.errors %}
                      <ul class="errors">
                        {% for error in form.contact_number.errors %}
                        <li><div class="alert alert-warning">{{ error }}</div></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="panNumber">Pan Number</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text" class="form-control" value="{{ form.pan_number.data or '' }}" name="pan_number" placeholder="Pan Number"/>
                      {% if form.pan_number.errors %}
                      <ul class="errors">
                        {% for error in form.pan_number.errors %}
                        <li><div class="alert alert-warning">{{ error }}</div></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>
                </div><!-- well-->

                <div class="well">

                  <div class="form-group row">
                    <div class="col-xs-12">
                      <h3>Would you like us to send you a Tax Exemption Certificate?</h3>

                      <div class="checkbox">
                        <label>
                          <input type="radio" required
                          name="need_80g_certificate" value="Yes"
                          {% if form.need_80g_certificate %} checked {% endif %}>
                          Yes
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="radio" required name="need_80g_certificate" value="No" {% if not form.need_80g_certificate %} checked {% endif %}>
                          No
                        </label>
                      </div>
                    </div>
                  </div>

                </div><!--well-->
              </section>
              <!-- Step 1 ends here-->

              <!-- Step 2 starts here-->
              <section id="pay"  class="tab-pane hide" tabindex="2">
                <div class="jumbotron row">
                  <h1>Step 2: Pay</h1>
                  <p>You are just a few simple steps away from getting fabulous stories to the children that you work with!</p>
                </div>

                <div class="well">
                  <h3>Will need to be directed to Payement Gateway</h3>
                </div><!--well-->


              </section>
              <!-- Step 2 ends here-->

              <!-- Step 3 starts here-->
              <section id="word" class="tab-pane hide" tabindex=3>
                <div class="jumbotron row">
                  <h1>Step 3: Spread The Word</h1>

                </div>

                <div class="well upload">
                  <h3>Thank you for donating on PBgiving. </h3>

                  <div class="col-md-12">
                    <p>
                    Your contribution is going to help us put many many books in the hands of children across the length and breadth of India.
                    Do help your preferred beneficiary achieve its campaign goal but sharing this link among your friends and family.
                    </p>
                  </div>
                </div><!--well-->
              </section>
              <!-- Step 3 ends here-->
              <a type="button" id="next" class="btn hide">Next</a>
              <a type="button" id="previous" class="btn hide">Previous</a>
            </div><!--col-md-12 -->
          </div><!--Internal Campaign row -->
        </div><!--/internalContent-->
        <button class="btn btn-default"> Submit </button>
      </form>
    </div><!-- xs-12 sm-9-->
  </div><!-- row-->

</div><!-- Pratham Form-->

{% endblock body %}
