{% extends "base.html" %}
{% block content %}
<form role="form" method="post" action="">
  <div  id="internalContent" class="row">
    <div id="internalCampaign" class="row startCampaign signup log">

      <div class="well">
        <h3>Signup <!-- Via: form  or <a href="https://www.facebook.com/" class="fb" target="_blank">Facebook</a> --> </h3>

        <div class="form-group row">
          <div class="col-xs-4">
            <label for="firstName">First Name</label>
          </div>
          <div class="col-xs-8">
            <input type="text"  class="form-control" name="first_name"
                   value="{{ form.first_name.data or '' }}" placeholder="First Name"/>
            {% if form.first_name.errors %}
            <ul class="errors">
              {% for error in form.first_name.errors %}
              <li><div class="alert alert-warning">{{ error }}</div></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-4">
            <label for="lastName">Last Name</label>
          </div>
          <div class="col-xs-8">
            <input type="text"  class="form-control" value="{{ form.last_name.data or ''}}" name="last_name" placeholder="Last Name"/>
            {% if form.last_name.errors %}
            <ul class="errors">
              {% for error in form.last_name.errors %}
              <li><div class="alert alert-warning">{{ error }}</div></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-4">
            <label for="email">Email</label>
          </div>
          <div class="col-xs-8">
            <input type="email" class="form-control" value="{{ form.email.data or '' }}" name="email" placeholder="Enter Email id"/>
            {% if form.email.errors %}
            <ul class="errors">
              {% for error in form.email.errors %}
              <li><div class="alert alert-warning">{{ error }}</div></li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="alert alert-warning hide">Enter email Id</div>
          </div>
        </div>



        <div class="form-group row">
          <div class="col-xs-4">
            <label for="password">Password</label>
          </div>
          <div class="col-xs-8">
            <input type="password" class="form-control" value="{{ form.password.data or ''}}" name="password" placeholder="Enter Password"/>
            {% if form.password.errors %}
            <ul class="errors">
              {% for error in form.password.errors %}
              <li><div class="alert alert-warning">{{ error }}</div></li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="alert alert-warning hide">Enter password</div>
          </div>
        </div>



        <div class="form-group row">
          <div class="col-md-12">
            <a  href="{{ url_for('login_via_webform') }}" class="btn">Login</a>
            <button type="submit" class="btn">Sign Up</button>


          </div>
        </div>
      </div><!--well-->

    </div>
    <!--InternalCampaign-->
  </div>
</form>

{% endblock %}
