{% extends "partials/base.html" %}
{% from "_formhelpers.html" import render_field, render_bullets, render_checkbox, render_field_row, render_text_field, render_text_area, render_narrow_field, render_select, render_slider, render_heading_textfield, render_heading_textarea%}
{% block content %}
<div id="wrapper">
  <div class="container internal">
    <form role="form" enctype="multipart/form-data" method="post">
      <div class="row startCampaign" id="internalCampaign">

        <div class="col-md-12">
          <h2>Campaign Builder</h2>
        </div>
        <div class="col-md-12 tabbable">
          <!-- Nav tabs -->
          <ul id="top-level-tabs" class="nav nav-tabs">
            <li id="get-started-tab" class="active"><a href="#getStarted" data-toggle="tab">Get Started</a></li>
            <li id="how-it-works-tab"><a href="#tips"  data-toggle="tab">How It Works</a></li>
            <li id="faqs1"><a href="#faqs" data-toggle="tab">FAQ</a></li>
            <li id="guidelines-tab"><a href="#guide" data-toggle="tab">Guidelines</a></li>
          </ul>


          <!-- Tab panes -->
          <div class="tab-content">

            <div class="tab-pane" id="tips">
              <div class="well">
                <h3>How It Works</h3>

                <div class="col-md-12">

                  <h4>Want to know how this works?</h4>

                  <p>Scroll down to know more about how will the books reach you.</p>

                  <p>Click on <strong>FAQs</strong> and <strong>Guidelines</strong> before you start building your campaign to know more about the process.</p>

                </div>

                <div id="pratham-form"  class="col-md-12 tabbable form"> 
                  <div id="" class="nav nav-tabs col-md-3 sidebar">
                    <a href="#step2"  class="active top" data-toggle="tab">Step 1 : Register and Build</a>
                    <a href="#step3" data-toggle="tab">Step 2 : Submit to go Live</a>
                    <a href="#step4" data-toggle="tab">Step 3 : Share with your network</a>
                    <a href="#step5" data-toggle="tab">Step 4 : Potential Donors to find you</a>
                    <a href="#step6" data-toggle="tab">Step 5 : Reach your set target </a>
                    <a href="#step7" data-toggle="tab">Step 6 : Pratham Books sends books to you </a>
                    <a href="#step8" class="bottom" data-toggle="tab">Step 7 : Children get to read books of their level, language and choice.</a>
                  </div> <!--sidbar-->

                  <div class="tab-content col-md-9">


                    <section id="step2" class="tab-pane active">
                      <!-- Step 1 starts here-->
                      <div class="jumbotron row">
                        <h2>Step 1 : Register &amp; Build your campaign.</h2>
                      </div><!-- Jumbo-->

                      <div class="col-md-12">
                        <img src="static/images/step1.jpg" alt="step1"/>

                        <h4 style="font-size: 0.65em; margin: 30px 0 10px; ">Fill out our simple 4 steps form to build your own Campaign.</h4>

                        <img src="static/images/step2.jpg" alt="step2"/>
                      </div> 
                    </section>
                    <!-- Step 1 ends here-->

                    <!-- Step 2 starts here-->
                    <section id="step3"  class="tab-pane">
                      <div class="jumbotron row">
                        <h2>Step 2: Submit for publication.</h2>
                      </div><!-- Jumbo-->

                      <div class="col-md-12">
                        <img src="static/images/step3.jpg" alt="step3"/>
                      </div> 
                    </section>
                    <!-- Step 2ends here-->

                    <!-- Step 3 starts here-->
                    <section id="step4"  class="tab-pane">
                      <div class="jumbotron row">
                        <h2>Step 3: Once published, Share with your network and Social Media.</h2>
                      </div><!-- Jumbo-->

                      <div class="col-md-12">
                        <img src="static/images/step4.jpg" alt="step3"/>
                        <h4 style=" width:100%; padding: 0 0 0 165px; font-size:.8em!important;">The more you share, the more you get!</h4>
                      </div> 

                    </section>
                    <!-- Step 3 ends here-->

                    <!-- Step 4 starts here-->
                    <section id="step5"  class="tab-pane" tabindex="5">
                      <div class="jumbotron row">
                        <h2>Step 4: Potential Donors find you and get to know about your work.</h2>
                      </div><!-- Jumbo-->

                      <div class="col-md-12">
                        <img src="static/images/step5.jpg" alt="step5"/>
                      </div> 
                    </section>
                    <!-- Step 4 ends here-->

                    <!-- Step 5 starts here-->
                    <section id="step6"  class="tab-pane" tabindex="6">
                      <div class="jumbotron row">
                        <h2>Step 5: Donors donate and help you reach your target.</h2>
                      </div><!-- Jumbo-->

                      <div class="col-md-12">
                        <img src="static/images/step6.jpg" alt="step6"/>
                      </div> 
                    </section>
                    <!-- Step 5 ends here-->

                    <!-- Step 6 starts here-->
                    <section id="step7"  class="tab-pane" tabindex="7">
                      <div class="jumbotron row">
                        <h2>Step 6: Pratham Books sends you books of your choice.</h2>
                      </div><!-- Jumbo-->

                      <div class="col-md-12">
                        <img src="static/images/step7.jpg" alt="step7"/>
                      </div> 

                    </section>
                    <!-- Step 6 ends here-->

                    <!-- Step 7 starts here-->
                    <section id="step8"  class="tab-pane" tabindex="8">
                      <div class="jumbotron row">
                        <h2>Step 7: Children get to read books of their level, language and choice.</h2>
                      </div><!-- Jumbo-->

                      <div class="col-md-12">
                        <img src="static/images/step8.jpg" alt="step8"/>
                        <button id="get-started-btn" type="button" class="btn pull-right">Get Started</button>
                      </div> 

                    </section>
                    <!-- Step 7 ends here-->

                    <button type="button" id="next1" class="btn btn-right-arrow">Next</button>
                    <button type="button"  id="previous1" class="btn btn-pre">Previous</button>

                  </div>
                </div>
              </div><!--well-->
            </div><!--tab-pane-->


            <div class="tab-pane" id="faqs">
              <div class="well faq">
                <h3>FAQ</h3>
                <div class="form-group row">
                  <div class="col-md-12">
                    <h5>Beneficiary FAQs:</h5>
                    <!-- Accordion -->
                    <div id="accordion">
                      <h4 class="active">1. Am I eligible to raise money for books?</h4>
                      <div> 
                        <p>
                        If you are an individual or an organisation that works with children in India, and seek help to spread the joy of 
                        reading to these children, then you are eligible! You do not necessarily have to be a registered charity to build a 
                        campaign.
                        </p>
                      </div>
                      <h4>2. How long does it take to set up? </h4>
                      <div>
                        <p>
                        You will have to fill our simple 3 step form which will help us identify you and your work. Once the campaign is created, 
                        it will take us 2 to 3 working days to verify it. Once verified, your campaign goes live, and you can start 
                        spreading the word about your appeal. 
                        </p>
                      </div>
                      <h4>3. How much does it cost? </h4>
                      <div>
                        <p>
                        There is no fee for setting up a fund-raising campaign. You can set up your campaign for free and get donations for 
                        the books you require.
                        </p>
                      </div>

                      <h4>4. How long does a campaign run? </h4>
                      <div>
                        <p>
                        The average duration of a Campaign is 25 days 
                        </p>
                      </div>
                      <h4>5. What if I don’t achieve my set target? </h4>
                      <div>
                        <p>
                        Even if you don’t achieve 100% of your target, you are eligible to get books for whatever amount you 
                        have already raised. For example, if your target amount for Rs.10,000/- but at the end of your campaign period you 
                        could raise only Rs.7500/-, you can still choose books for that amount. Books worth Rs.7500/- would reach you.
                        </p>
                      </div>

                      <h4>6. In how many days will I get the books? </h4>
                      <div>
                        <p>
                        After your campaign is over, a list of in-stock books will be sent to you. 
                        You are required to revert within 10 working  days with your choice and preference of books required. 
                        After we get your list, the books will reach you within 30 working days.

                        </p>
                      </div>

                      <h4>7. What are the other things I should know before I start? </h4>
                      <div>
                        <p>
                        Do look at our Terms of Use before you start. If there are still any more questions, 
                        do drop in an email at <a href="mailto:donateabook@prathambooks.org" style=" color:#428bca; text-decoration:underline">donateabook@prathambooks.org</a>.

                        </p>
                      </div>

                    </div>



                  </div>
                </div>
              </div><!--well-->
            </div><!--tab-pane-->


            <div class="tab-pane" id="guide">
              <div class="well">
                <h3>Guidelines</h3>
                <div class="form-group row">
                  <div class="col-md-12">
                    <h4>Dos</h4>
                    <ol>
                      <li>
                      Every campaign must have a campaign page with an image and description that introduces you or your 
                      organization and the work it does. Choose an image which is a reflection of your work and makes your page visually engaging.
                      </li>

                      <li>State the purpose of the campaign clearly. E.g : Creating a Library for under-resourced school in rural Maharashtra.</li>

                      <li>Tell the story behind your work. List achievements of the past and the expansion plans that you may have for future. 
                      Donors would feel more involved in your project if they know more about you.
                      </li>
                      <li>
                      Think through and have a achievable target for your campaign.
                      A target is proof that you’ve planned for the number of books and hence know what are you going to do with them.
                      This brings in credibility.
                      </li>
                      <li>
                      Keep your language simple and descriptions within word limits but be as expressive as you can.
                      The donors would invest their money on your project if they know and trust you.
                      </li>
                    </ol>
                  </div>

                  <div class="col-md-12">
                    <h4>Donts</h4>
                    <ol>
                      <li>Do not share any false information. All information that you mention in your campaign is your responsibility 
                      and must be accurate and legitimate. </li>

                      <li>Do not use any image that does not belong to you and could be copyrighted. This could invite legal issues.</li>

                      <li>Do not put a target which is too much or too less. Putting a realistic target, with a clearly defined goal will help you achieve it.</li>

                      <li>Refrain from using any text, image or language that may be offensive or obscene in nature. This could lead to your campaign getting rejected at the review stage.</li>

                      <li>Do not spam : This includes link-bombing, promoting a project where it shouldn’t be promoted, sending unsolicited @’s on Twitter, 
                      hyping third-party services, and using email lists from outside sources, to name a few. </li>

                    </ol>
                  </div>

                </div>
              </div><!--well-->
            </div><!--tab-pane--> 

            <div class="tab-pane active" id="getStarted">
              <div class="well">
                <h3>Beneficiary form</h3>
                <div  id="beneficiary-form" class="col-md-12 tabbable form">
                  <div id="" class="nav nav-tabs col-md-3 sidebar">
                    <a href="#getKnow-step" class="active top" data-toggle="tab">Step 1 : Getting To Know You.</a>
                    <a href="#startCampaign-step" data-toggle="tab">Step 2 : Get Started</a>
                    <a href="#setCampaign-step" data-toggle="tab">Step 3 : Set-up Your Campaign.</a>
                  </div> <!--sidbar-->
                  
                  <div class="tab-content col-md-9">
                    <section id="getKnow-step" class="tab-pane active">
                      <!-- Step 1 starts here-->
                      <div class="alert hide">&nbsp;</div>

                      <div class="jumbotron row" tabindex="1">
                        <h2>Step 1: Getting to know you </h2>
                        <p>
                        Congratulations on your first step towards setting up your very own fund raising campaign on Pratham Books' <strong> Donate-a-Book </strong>. 
                        We want to know more about your organization and the work you do.<br/>
                        Answer each question to the best of your knowledge and if you have a query please write to us at 
                        <a href="mailto:donateabook@prathambooks.org">donateabook@prathambooks.org</a>. <br/>
                        If you would like to fill this form offline, you can download it 
                        <a href="/static/BeneficiaryForm.pdf"> here </a>. After filling in all the details, email the form to
                        <a href="mailto:donateabook@prathambooks.org">donateabook@prathambooks.org</a>.


                        </p>
                      </div><!-- Jumbo-->

                      <div class="well">
                        <div class="row form-group" >
                          <h3>Which category best describes you? <strong>*</strong></h3>

                          <p>Pick one category that best describes you and the reason you are raising funds. Please take your time to select this as this 
                          impacts the next steps.</p>
                          <div class="alert alert-warning hide alertleft">Please select any one option below. <strong>*</strong></div>
                          {{ render_bullets(form.category) }}
                        </div> <!--row-->
                      </div><!--well-->
                      <hr/>

                      <div class="well">
                        <h3>Tell us a little more about you/your organization</h3>
                        <div class="form-group row">
                          {{ render_text_field(form.title) }}
                        </div>

                        <div class="form-group row">
                          <div class="col-xs-12">
                            <label for="status">Organisation Status </label><strong>*</strong>
                            <div class="alert alert-warning alertleft hide">Please select any one option below.</div>
                            {{ render_bullets(form.organization_status) }}
                          </div>
                        </div>

                        <div class="form-group row">
                          {{ render_text_field(form.address) }}
                          <div class="alert alert-warning hide">Enter Head Office Address.</div>
                        </div>

                        <div class="form-group row">
                          {{ render_text_field(form.contact_number) }}
                          <div class="alert alert-warning hide">Enter Head Office Phone Number.</div>
                        </div>

                        <div class="form-group row">
                          <div class="col-xs-4">
                            {{form.email.label}} {% if form.email.flags.required %} <strong>*</strong> {% endif %}
                          </div>
                          <div class="col-xs-8">
                            <input type="text" class="form-control" name="{{form.email.name}}" value="{{form.email.data|default('',True)}}" required /> 
                            <p class="help-block">Please add the organisation's email ID. It should not be individual specific.</p>
                            <p class="help-block">In case of an individual, a personal email id can be given.</p>
                            <div class="alert alert-warning hide">Invalid Email ID.</div>
                            {% if form.email.errors %}
                            <ul class="errors">
                              {% for error in form.email.errors %}
                              <li><div class="alert alert-warning">{{ error }}</div></li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                          </div>
                        </div>

                        <div class="form-group row">
                          {{ render_text_field(form.website) }}
                          <div class="alert alert-warning hide">Invalid Website.</div>
                        </div>

                        <div class="form-group row">
                          {{ render_text_field(form.facebook) }}
                        </div>

                        <div class="form-group row">
                          {{ render_text_field(form.blog) }}
                        </div>
                      </div><!--well-->

                      <hr/>

                      <div class="well">
                        <h3>Please update us on your organisation's certifications:</h3>
                        <p class="help-block">Not applicable in case of individuals</p>
                        <div class="form-group row">
                          <label>Does your organisation have a 80G certification? </label ><strong>*</strong>
                          {{ render_bullets(form.has_80g_certificate) }}
                        </div>
                      </div><!--well-->

                      <hr/>

                      <div class="well">
                        <h3>Stay in touch</h3>
                        <p>Please give details of any one person from your organization with whom we can stay in touch.</p>
                        <h4>Contact Person</h4>
                        <div class="form-group row">
                          {{ render_text_field(form.person1_name) }}
                          <div class="alert alert-warning hide">Enter Name.</div>
                        </div>

                        <div class="form-group row">
                          {{ render_text_field(form.person1_position) }}
                          <div class="alert alert-warning hide">Enter Position.</div>
                        </div>

                        <div class="form-group row">
                          {{ render_text_field(form.person1_email) }}
                          <div class="alert alert-warning hide">Invalid Email Id.</div>
                        </div>

                        <div class="form-group row">
                          {{ render_text_field(form.person1_phone) }}
                          <div class="alert alert-warning hide">Enter Phone Number.</div>
                        </div>

                      </div><!--well-->

                    </section>
                    <!-- Step 1 ends here-->

                    <!-- Step 2 starts here-->
                    <section id="startCampaign-step"  class="tab-pane" tabindex="2">

                      <div class="jumbotron row">
                        <h2>Step 2: Get Started</h2>
                        <p class="help-blocl">You are just a few steps away from getting fabulous books to the children you work with!</p>
                      </div>

                      <div class="well">
                        <h3>What are you raising funds for? <strong>*</strong></h3>
                        <p>Please select what you wish to raise funds for from these two donation options.</p>
                        <ol start="1">
                          <li>
                          If you only need books for your library or reading sessions or an event we recommend you choose just Books.
                          </li>
                          <li>
                          If you wish to build a classroom library or need modular units with books, try our 
                          <a href="http://www.prathambooks.org/library-classroom" target="_blank">Library-in-a-classroom</a> unit.
                          Click on it to see how easy it is to set up a library! 
                          </li>

                        </ol>
                        <div class="form-group row" id="bookCounts">
                          <p class="help-block"> You can also choose a mix of different product offerings in the same funding campaign!</p>
                          <div class="alert alert-warning hide">Choose any one / more than one option below</div>
                          <div class="col-xs-9 row">
                            {{ render_text_field (form.project_books, "Books / Books as prizes or give-aways / Books for reading sessions") }}
                          </div>

                          <div class="col-xs-9 row">
                            {{ render_text_field (form.project_lib_in_classroom, "No. of kits") }}
                            <p class="help-block">Note - Each LIC kit contains 125 books.</p>
                          </div>
                        </div>
                      </div><!--well-->

                      <div id="goal" class="well">
                        <div class="row form-group">
                          <div class="col-xs-12">
                            <h3>Based on your requirement as mentioned above your funding goal comes to :</h3>
                          </div>
                          <div class="col-xs-4">Number of Books</div>
                          <div class="col-xs-8"><span id="noOfBooks"></span></div>
                        </div>

                        <div class="row form-group">
                          <div class="col-xs-4">
                            Average value of a book
                          </div>
                          <div class="col-xs-8">
                            <span id="averageVal">Rs. 50</span>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-xs-4">
                            Fund raising amount
                          </div>
                          <div class="col-xs-8">
                            <span id="bookAmount"></span>
                          </div>
                          <br/>
                        </div>

                        <p>
                        <strong>PLEASE NOTE:</strong>
                        If the above amount is not what you had planned for the fund raising campaign, please change your requirement of books 
                        in the previous question. 
                        </p>
                      </div><!--well-->


                      <div class="well">
                        <h3>Languages <strong>*</strong></h3>
                        <div class="form-group row" id="language">
                          <h3>You can raise funds for books in upto 3 different languages.</h3>

                          <p>
                          Please give a language preference for the books you need for us to serve you better.<br/> <br/>
                          </p>

                          <div class="col-md-12">
                            <div class="alert alert-warning hide">Enter number of books in at least  one language.</div>
                          </div> 

                          <div class="col-xs-8">
                            {{ render_select(form.language1) }}
                            {{ render_select(form.language2) }}
                            {{ render_select(form.language3) }}
                          </div>

                        </div>
                      </div><!--well-->

                      <div id="duration" class="well">
                        <h3>Duration of the campaign</h3>
                        <p>Each campaign on <b>Donate-a-Book</b> is 30 days long. The duration is 
                        calculated from the day your campaign goes live.
                        </p>
                      </div><!--well-->

                    </section>
                    <!-- Step 2 ends here-->


                    <!-- Step 3 starts here-->
                    <section id="setCampaign-step"  class="tab-pane" tabindex=3>
                      <div class="jumbotron row">
                        <h2>Step 3: Set-up your campaign</h2>
                        <p>
                        This is the final step towards setting up your fund raising campaign. Make sure you fill in this 
                        section well, as this is what your donors will see before they decide to support you. This information 
                        will go live on your campaign page.
                        </p>
                      </div>

                      <div class="well upload">
                        <div class="row form-group">
                        <h3>Upload an image of your work or organization here</h3>
                        <div class="col-md-12">
                          <input type="file" name="imageUpload" title="upload" data-filename-placement="inside" required>
                          <p class="help-block">Please upload only jpeg/png images in horizontal / landscape format.</p>
                          <div class="alert alert-warning hide">Select an image for your campaign. </div>
                          <div class="alert alert-warning alert-size hide">Image file size should be less than 1 MB. </div>
                          <div class="alert alert-warning alert-type hide">Image should be in jpeg, png, or gif formats.</div>
                        </div>
                      </div>
                      </div><!--well--> 

                      <div class="well">
                        <div class="row form-group">
                          <div class="col-xs-4">
                            <h3>Funding Goal</h3>
                          </div>
                          <div class="col-xs-8">
                            <input class="form-control" ng-model="signup.fundingGoal" name="fundingGoal" type="text" placeholder="Rupee + Books Based on Previous Selection" readonly>
                          </div>
                        </div><!--form-group-->
                      </div><!--well-->

                      <div class="well">
                        <div class="row form-group">
                          <h3>State <strong>*</strong></h3>
                          {{ render_select(form.project_state) }}
                          <div class="alert alert-warning  alertleft hide">Please select any one state in the list</div>
                        </div>
                        <div class="row form-group">
                          <h3>City <strong>*</strong></h3>
                          <input type="text" class="form-control" name="project_city" value="{{form.project_city.data|default('',True)}}" required /> 
                          <div class="alert alert-warning hide">Enter City</div>
                        </div><!--form-group-->
                        <!-- Will add later
                        <button type="button" value="Add State" class="btn btnAdd">Add State</button>
                        -->
                      </div><!--well-->

                      <div class="well">

                        <h3>Overall impact numbers <strong>*</strong></h3>
                        <div class="form-group row">
                          {{ render_text_field(form.total_impact_on_children) }}
                          <div class="alert alert-warning hide">Enter number of children being impacted.</div>
                        </div>

                        <div class="form-group row">
                          <div class="col-xs-12">
                            <label for="age">Do you or your organization do any work for following (check all that apply):
                            {{ render_checkbox(form.org_work) }}
                            <div class="alert alert-warning alertleft hide">Please select at least one option above.</div>
                          </div>
                        </div>

                      </div>


                      <div class="well title">
                        <div class="row form-group">
                          <div class="col-xs-12">
                            <h3>Campaign Title <strong>*</strong></h3>
                          </div>
                          {{ render_text_field(form.project_title,maxwords=10) }}
                          <div class="alert alert-warning alertleft hide">Please give a suitable title to your campaign</div>
                          <p class="help-block">Make it unique, and not general. E.g: Priya’s Grade-6 Leading Readers (Max. 10 words)</p> 
                        </div><!--form-group-->
                      </div><!--well-->

                      <div class="well upload">
                        <div class="row form-group">
                          <div class="col-xs-4">
                            <h3>Short Description</h3>
                          </div>
                          {{ render_text_area(form.project_description,maxwords=55) }}

                          <div class="col-md-12">
                            <p>This is what goes right under your Project Title and gives the Donor the info that will help generate 
                            interest in your cause. The shorter, the better. Give a snapshot of what your project is all about and why it is 
                            important. E.g :  We are a  class of 25 bright young minds from an underprivileged community studying in a Govt school in 
                            Delhi. We require books for our classroom library. 
                            We want to read better and need books which are of our interest and our levels. Help us become readers for life. (Not more than 55 words)
                            </p>
                          </div>
                        </div><!--form-group-->
                      </div><!--well-->

                      <div class="well story">
                        <h3>My Story</h3>
                        <p>
                        Share your story in this column below and tell potential donors why your campaign is important.
                        Introduce yourself and describe your work. Explain how you plan to utilize the funds and how will it impact 
                        the children/community you work with. Be specific and transparent to earn donor’s trust.
                        </p>
                        <p>
                        For your benefit, the ‘My Story’  column is divided into 3 simple guiding questions to help you present your story better.
                        </p>
                        <div class="row form-group">
                          {{ render_text_area(form.project_who_are_you,"PK Foundation was established in 2000 to help bridge the gap in learning in schools through books and reading. PK Foundation is based out of Pune and has 1 more office in rural Maharashtra. With a staff of 12 members and 20 volunteers, PK foundations aims to establish libraries in Govt schools in rural Maharahstra.", "100") }}
                          <p class="help-block">Not more than 100 words </p>
                        </div><!--form-group-->

                        <div class="row form-group">
                          {{ render_text_area(form.project_impact,"PK Foundation’s mission is to inculcate reading habit among students at a young age and to expose them to a large variety of books thus pushing their reading abilities and exposure to the works. Children, specially in rural Maharashtra don’t have access to any other books than curriculum and hence learning a language becomes a curriculum material again. We at PK Foundation, aim to introduce the joy of languages through story books to children and hence develop an interest in academics. Till date PK Foundation has established over 120 libraries in Govt schools in the districts of Akola and Paratwada. These libraries serve over 4800 childre from the age group of 7 to 14. Most children are first generation learners and their education is their family’s chance out of poverty", "150") }}
                          <p class="help-block">Share your work and impact stories here.</p>
                          <p class="help-block">Not more than 150 words </p>
                        </div><!--form-group-->

                        <div class="row form-group">
                          {{ render_text_area(form.fund_utilization,"PK Foundation aims to set up 400 new libraries by the end of year 2015.The collected funds will be utilized for buying books for children of all ages in 2 languages and buying cupboards for setting them up. We aim to also start a book-lending program with a membership fee of Rs.1/- to remote areas. These funds would help the logistics for this program.","1200") }}
                          <div class="alert alert-warning alertleft hide">Explain the way you are utilizing the funds.</div>
                          <p class="help-block">Answer the need for this funding and the way in which you plan to utilize these funds.</p>
                          <p class="help-block">Not more than 100 words </p>
                        </div><!--form-group-->
                      </div><!--well-->

                      <div class="well">
                        <h3>Preview Your Campaign Page :</h3>
                        <p>
                        Before you press the final submission button click here to see how will your campaign page looks and do edits if required. 
                        Once you have pressed the submit button, your application will go in the screening process and you will not be able to 
                        make any edits.
                        </p>
                        <button class="btn btnPreview" data-toggle="modal" data-target="#preview-modal">Preview</button>

                      </div><!--well-->

                      <div class="well">
                        <div class="row form-group">
                          <div class="checkbox">
                            <h3>
                              <label for="Library">
                                <input type="checkbox" required value=" Books for library">
                                I have read and agree on the Terms of Use and want to submit this campaign.
                              </label>
                            </h3>
                            <div class="alert alert-warning hide alertleft">You need to accept the terms and conditions to proceed.</div>
                          </div>

                          <button type="submit" id="goLive" class="btn btn-lg btn-block btnLive">Go Live &amp; Get Funded</button>
                        </div>
                      </div><!--well-->
                    </section>
                    <!-- Step 3 ends here-->

                    <button type="button" id="next" class="btn btn-next btn-right-arrow">Next</button>
                    <button type="button" id="previous" class="btn btn-pre ">Previous</button>

                  </div>
                </div>
              </div><!--well-->
            </div><!--tab-pane-->

          </div>
        </div>

      </div><!--InternalCampaign-->

    </form>
  </div>  
</div><!--Wrapper-->
<div class="modal fade bs-example-modal-lg" id="preview-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myLargeModalLabel">Preview of Beneficiary Form </h3>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <h5>Name of the Organisation/Individual</h5>
        </div>
        <div class="col-xs-6">
          <label id="title"></label>
        </div>
        <div class="col-xs-6">
          <h5>Number of children impacted</h5>
        </div>
        <div class="col-xs-6">
          <label id="total_impact_on_children"> Not specified</label>
        </div>

        <div class="col-xs-6">
          <h5>Languages</h5>
        </div>
        <div class="col-xs-6">
          <label id="languages"> Languages </label>
        </div>

        <div class="col-xs-6">
          <h5>Beneficiary Type</h5>
        </div>
        <div class="col-xs-6">
          <label id="category"> Beneficiary Type</label>
        </div>

        <div class="col-xs-6">
          <h5>Location</h5>
        </div>
        <div class="col-xs-6">
          <label id="location"> Not specified</label>
        </div>
      </div> <!--row-->

      <div class="row">
        <div class="col-xs-12"><h4>Social Details</h4></div>
        <div class="col-xs-6">
          <h5>Website url</h5>
        </div>
        <div class="col-xs-6">
          <label id="website">Category</label>
        </div>
        <div class="col-xs-6">
          <h5>Facebook link</h5>
        </div>
        <div class="col-xs-6">
          <label id="facebook">Category</label>
        </div>
        <div class="col-xs-6">
          <h5>Blog link</h5>
        </div>
        <div class="col-xs-6">
          <label id="blog">Category</label>
        </div>
      </div> <!--row-->

      <div class="row">
        <div class="col-xs-6">
          <h5>Funding goal</h5>
        </div>
        <div class="col-xs-6">
          <label id="target"></label>
        </div>
      </div> <!--row-->

      <div class="row">
        <div class="col-xs-12"><h4>Campaign Information </h4></div>

        <div class="col-xs-12">
          <h5>Who we are</h5>
        </div>
        <div class="col-xs-12">
          <label id="who"></label>
        </div>

        <div class="col-xs-12">
          <h5>Our Story</h5>
        </div>
        <div class="col-xs-12">
          <label id="story">Name</label>
        </div>

        <div class="col-xs-12">
          <h5>Our work and its impact</h5>
        </div>
        <div class="col-xs-12">
          <label id="impact"></label>
        </div>

        <div class="col-xs-12">
          <h5>How we will utilize these funds.</h5>
        </div>
        <div class="col-xs-12">
          <label id="fund_utilization"></label>
        </div>
      </div> <!--row-->
    </div>
  </div> <!--modal-->
</div>
<div id="error-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myLargeModalLabel"> Error in this section</h3>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>You left some fields unfilled in this section. These will be highlighted by orange boxes around them 
            or with orange coloured messages under them. Please fill them before going to the next section.</h4>
        </div>
        <button type="button" class="btn browse-btn pull-right" data-dismiss="modal"> OK </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block jsblock %}
<script>
var hash = document.location.hash;
if (hash) {
   $('.nav-tabs a[href='+hash+']').tab('show');
} 
$('#start-links a').click(function() {
  var hash = $(this).attr('href').replace('/about','');
  $('.nav-tabs a[href='+hash+']').tab('show');
});
$(function() {
    var start = new Start();
    start.start({logged_in:{{ 1 if current_user.is_active() else 0 }}});
    });
</script>
<script>$(document).ready(function(){$('input[type=file]').bootstrapFileInput();});</script>
{% endblock %}

