<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Donate A Book Form</title>

<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />

{% assets "bforms" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}"/>
{% endassets %}

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapperOut">
  <header class="affix">
    <div class="headerIn">
      <h1 class="logo">
        <a href="/">
          <span>Give Books to India's Children</span>
        </a>
      </h1>
      <nav class="nav">
        <ul>
          <li  class="darkOrange">
          <a href="url_for('about') }}">about
            <span class="caret"></span>
          </a>
          </li>

          <li class="orange">
          <a href="{{ url_for('start')}}">start
            <span class="caret"></span>
          </a>
          </li>

          <li class="lightOrange">
          <a href="{{ url_for('discover') }}" >discover
            <span class="caret"></span>
          </a>
          </li>

          <li class="darkYellow">
          <a href="{{ url_for('index') }}">home
            <span class="caret"></span>
          </a>
          </li>
        </ul>
      </nav>

      <div id="login">
        {% if not current_user.is_authenticated() %}
        <a class="btn btn-default" href="{{ url_for('user.login') }}">log in</a>
        <a class="btn btn-warning" href="{{ url_for('user.register') }}">sign up</a>
        {% else %}
        <div class="btn-group">
          <a id="profile-btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            My Profile
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('donor_dashboard') }}">My Donations</a></li>
            <li><a href="{{ url_for('beneficiary_dashboard') }}">My Campaigns</a></li>
            <li><a href="{{ url_for('profile') }}">Settings</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </header>
  {% with flashes = get_flashed_messages() %}
  {% if flashes %}
  <ul class="flashes">
    {% for message in flashes %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  {% block body %}
  {% endblock %}
  <footer>
    <div id="infoBlock" class="row">
      <div class="col-md-12">
        <h5>Site Map</h5>

        <div class="siteBlock">
          <h6><a href="{{ url_for('index') }}">Home</a></h6>
        </div>

        <div class="siteBlock">
          <h6><a href="{{ url_for('discover') }}" >Discover</a></h6>
        </div>


        <div class="siteBlock">
          <h6><a href="{{ url_for('start')}}">Start</a></h6>
          <ul>
            <li><a href="{{ url_for('start')}}">Get Started</a></li>
            <li><a href="{{ url_for('start')}}">How It Works</a></li>
            <li><a href="{{ url_for('start')}}">FAQs</a></li>
            <li><a href="{{ url_for('start')}}">Guidelines</a></li>
          </ul>
        </div>

        <div class="siteBlock">
          <h6><a href="{{ url_for('about')}}">About</a></h6>
          <ul>
            <li><a href="{{ url_for('about')}}">Donate a Book</a></li>
            <li><a href="{{ url_for('about')}}">Pratham Books</a></li>
            <li><a href="{{ url_for('about')}}">FAQs</a></li>
            <li><a href="{{ url_for('about')}}">Terms Of Use</a></li>
            <li><a href="{{ url_for('about')}}">Privacy Policy</a></li>
            <li><a href="{{ url_for('about')}}">Contact Us</a></li>
          </ul>
        </div>

      </div>

      <div class="col-md-12 bottom">
        <h1>Pratham Books &copy; 2013. All rights reserved.</h1>
        <div id="socialIcons">
          <h6>Connect</h6>
          <a href="https://www.facebook.com/prathambooks" target="_blank" class="fb"></a>
          <a href="https://plus.google.com/+prathambooks" target="_blank" class="gPlus"></a>
          <a href="http://blog.prathambooks.org/" target="_blank" class="blog"></a>
          <a href="https://twitter.com/prathambooks" target="_blank" class="tw"></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  {% assets "jquery" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"/></script>
  {% endassets %}

  {% assets "bootstrap" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"/></script>
  {% endassets %}

  {% assets "app_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"/></script>
  {% endassets %}
  <script type="text/javascript" src="http://use.typekit.net/lfw6jmj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% block js_block %}
  {% endblock %}

</body>
</html>
