<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratham Books">
    <meta name="author" content="">
    {% block meta_tags %}
    {% endblock %}

    <title>Donate A Book</title>

    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />

    {% assets "css_site" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}"/>
    {% endassets %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <script type="text/javascript" src="http://use.typekit.net/lfw6jmj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://tablesorter.com/__jquery.tablesorter.js"></script>
    <script type="text/javascript">
      var appId = "{{config['FACEBOOK_APP_ID']}}";
      $(document).ready(function() {
        $.ajaxSetup({ cache: true });
        $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
          FB.init({
            appId: appId,
            version: 'v2.3' // or v2.0, v2.1, v2.0
          });
          $('#loginbutton,#feedbutton').removeAttr('disabled');
          FB.getLoginStatus(updateStatusCallback);
        });
      });
    </script>
    {% assets "app_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"> </script>
    {% endassets %}


  </head>

  <body>
    <div id="wrapperOut">
      <header>
      <div class="headerIn">
        <h1 class="logo">
          <a href="/">
            <span>Give Books to India's Children</span>
          </a>
        </h1>
        <nav class="nav">
        <ul>
          <li  class="darkOrange">
          <a href="{{ url_for('about') }}">about
            <span class="caret"></span>
          </a>
          </li>

          <li class="orange">
          <a href="{{ url_for('start')}}">start
            <span class="caret"></span>
          </a>
          </li>

          <li class="lightOrange">
          <a href="{{ url_for('discover') }}" >discover
            <span class="caret"></span>
          </a>
          </li>

          <li class="darkYellow">
          <a href="{{ url_for('index') }}">home
            <span class="caret"></span>
          </a>
          </li>
        </ul>
        </nav>

        <div id="login">
          {% if not current_user.is_authenticated() %}
          <a class="btn btn-default" href="{{ url_for('user.login') }}">log in</a>
          <a class="btn btn-warning" href="{{ url_for('user.register') }}">sign up</a>
          {% else %}
          <div class="btn-group">
            <a id = "profile-btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              {{ current_user.profile_name() }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('donor_dashboard') }}">My Donations</a></li>
              <li><a href="{{ url_for('beneficiary_dashboard') }}">My Campaigns</a></li>
              <li><a href="{{ url_for('profile') }}">Settings</a></li>
              {% if current_user.has_roles('admin') %}
              <li><a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a></li>
              {% endif %}
              <li class="divider"></li>
              <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
      </header>

      <div id="wrapper"> 
        {% with flashes = get_flashed_messages() %}
        {% if flashes %}
        <ul class="flashes">
          {% for message in flashes %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %} 
        {% endblock %} 
      </div>
      <footer>
      <div id="infoBlock" class="row">
        <div class="col-md-12">
          <h5>Site Map</h5>

          <div class="siteBlock">
            <h6><a href="{{ url_for('index') }}">Home</a></h6>
          </div>

          <div class="siteBlock">
            <h6><a href="{{ url_for('discover') }}" >Discover</a></h6>
          </div>


          <div class="siteBlock">
            <h6><a href="{{ url_for('start')}}">Start</a></h6>
            <ul>
              <li><a href="{{ url_for('start')}}">Get Started</a></li>
              <li><a href="{{ url_for('start')}}">How It Works</a></li>
              <li><a href="{{ url_for('start')}}">FAQs</a></li>
              <li><a href="{{ url_for('start')}}">Guidelines</a></li>
            </ul>
          </div>

          <div class="siteBlock">
            <h6><a href="{{ url_for('about')}}">About</a></h6>
            <ul>
              <li><a href="{{ url_for('about')}}">Donate a Book</a></li>
              <li><a href="{{ url_for('about')}}">Pratham Books</a></li>
              <li><a href="{{ url_for('about')}}">FAQs</a></li>
              <li><a href="{{ url_for('about')}}">Terms Of Use</a></li>
              <li><a href="{{ url_for('about')}}">Privacy Policy</a></li>
              <li><a href="{{ url_for('about')}}">Contact Us</a></li>
            </ul>
          </div>

        </div>

        <div class="col-md-12 bottom">
          <h1>Pratham Books &copy; 2013. All rights reserved.</h1>
          <div id="socialIcons">
            <h6>Connect</h6>
            <a href="https://www.facebook.com/prathambooks" target="_blank" class="fb"></a>
            <a href="https://plus.google.com/+prathambooks" target="_blank" class="gPlus"></a>
            <a href="http://blog.prathambooks.org/" target="_blank" class="blog"></a>
            <a href="https://twitter.com/prathambooks" target="_blank" class="tw"></a>
          </div>
        </div>
      </div>
      </footer>
    </div>
    {% block jsblock %} 
    {% endblock %} 
  </body>
</html>
